Repository IgniteUI/igniteui-cli, pull requests merged in 2018-07, with the labels that each got.

#296 Update Ignite UI for Angular project and templates to 6.1.0
  spec/acceptance/add-spec.ts
  templates/angular/igx-ts/carousel/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/carousel/default/index.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/awesome-grid/index.ts
  templates/angular/igx-ts/custom-templates/monster-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/monster-grid/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/monster-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/monster-grid/index.ts
  templates/angular/igx-ts/date-picker/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/date-picker/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/date-picker/default/index.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/grid/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/grid/default/index.ts
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/grid/grid-custom/index.ts
  templates/angular/igx-ts/list/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/list/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/list/default/index.ts
  templates/angular/igx-ts/projects/empty/files/package.json
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.spec.ts
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.ts
  templates/angular/igx-ts/projects/empty/files/src/app/app.module.ts
  templates/angular/igx-ts/projects/empty/files/src/styles.scss
  templates/angular/igx-ts/tabbar/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/tabbar/default/index.ts
  templates/angular/igx-ts/time-picker/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/time-picker/default/index.ts
Labels: angular, status: verified

#297 Change the date column values with real dates, #290
  templates/angular/igx-ts/grid/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/grid/default/files/src/app/__path__/localData.ts
Labels: angular, status: verified

#299 Update igx project versions and fix config
  templates/angular/igx-ts/projects/empty/files/README.md
  templates/angular/igx-ts/projects/empty/files/angular.json
  templates/angular/igx-ts/projects/empty/files/gitignore
  templates/angular/igx-ts/projects/empty/files/package.json
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.scss
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.ts
Labels: angular

#301 Adding template for igxCombo
  templates/angular/igx-ts/combo/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/combo/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/combo/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/combo/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/combo/default/files/src/app/__path__/local-data.ts
  templates/angular/igx-ts/combo/default/index.ts
  templates/angular/igx-ts/combo/index.ts
Labels: angular, squash-merge, status: verified

#304 Ignite UI for Angular project updates
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/date-picker/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/financial-chart/default/files/src/app/__path__/data.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/list/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/projects/empty/files/package.json
  templates/angular/igx-ts/time-picker/default/files/src/app/__path__/__name__.component.spec.ts
Labels: angular, status: verified

#294 Add back option where necessary in the wizard, closes #293
  lib/PromptSession.ts
  spec/unit/PromptSession-spec.ts
Labels: feature, status: verified, step by step

#305 Change ngModel from comboOptions.value to other parameter
  templates/angular/ig-ts/grid/grid-export/files/src/app/components/__path__/__name__.component.ts
Labels: status: verified

#312 Update charts package version and add new dependency
  .travis.yml
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
Labels: angular, charts

#308 Provide user defined port and proj defaults
  lib/PromptSession.ts
  lib/commands/start.ts
  lib/types/Config.d.ts
  package.json
  spec/unit/PromptSession-spec.ts
  templates/angular/ig-ts/projects/empty/files/ignite-ui-cli.json
  templates/angular/igx-ts/projects/empty/files/ignite-ui-cli.json
  templates/jquery/js/projects/empty/files/bs-config.js
  templates/jquery/js/projects/empty/files/bs-routes.json
  templates/jquery/js/projects/empty/files/ignite-ui-cli.json
  templates/jquery/js/projects/empty/index.ts
  templates/react/es6/projects/empty/files/ignite-ui-cli.json
Labels: status: in-test

#311 Set the whole chart configuration not only series to update the chart…
  templates/angular/ig-ts/line-chart/default/files/src/app/components/__path__/__name__.component.ts
Labels: status: verified

#291 feat: add `ng update` migration schematic
  .gitignore
  .vscode/settings.json
  migrations/migration-collection.json
  migrations/update-2/index.spec.ts
  migrations/update-2/index.ts
  package-lock.json
  package.json
  spec/jasmine-runner.ts
Labels: enhancement, migration, status: in-review

#307 feat: Changing the menu for jQuery projects #211
  templates/jquery/js/bar-chart/bar-chart/files/index.html
  templates/jquery/js/column-chart/column-chart/files/index.html
  templates/jquery/js/combo/combo/files/index.html
  templates/jquery/js/custom-templates/dashboard-knockout/files/index.html
  templates/jquery/js/custom-templates/editors-calculation-form/files/index.html
  templates/jquery/js/custom-templates/er-dashboard/files/index.html
  templates/jquery/js/custom-templates/file-explorer/files/Index.html
  templates/jquery/js/doughnut-chart/doughnut-chart/files/index.html
  templates/jquery/js/editors/files/index.html
  templates/jquery/js/financial-chart/financial-chart/files/index.html
  templates/jquery/js/funnel-chart/funnel-chart/files/index.html
  templates/jquery/js/generate/files/index.html
  templates/jquery/js/grid/grid-custom/files/index.html
  templates/jquery/js/grid/grid-custom/index.ts
  templates/jquery/js/grid/grid-editing/files/index.html
  templates/jquery/js/grid/grid-export/files/index.html
  templates/jquery/js/grid/grid-export/index.ts
  templates/jquery/js/grid/grid-templating/files/index.html
  templates/jquery/js/grid/grid-templating/index.ts
  templates/jquery/js/grid/grid/files/index.html
  templates/jquery/js/hierarchical-grid/hierarchical-grid-custom/files/index.html
  templates/jquery/js/hierarchical-grid/hierarchical-grid-editing/files/index.html
  templates/jquery/js/hierarchical-grid/hierarchical-grid-export/files/index.html
  templates/jquery/js/hierarchical-grid/hierarchical-grid/files/index.html
  templates/jquery/js/line-chart/line-chart/files/index.html
  templates/jquery/js/pie-chart/pie-chart/files/index.html
  templates/jquery/js/projects/empty/files/assets/app.css
  templates/jquery/js/projects/empty/files/assets/lines-bottom-right.svg
  templates/jquery/js/projects/empty/files/assets/navigation-header.js
  templates/jquery/js/projects/empty/files/index.html
  templates/jquery/js/projects/empty/index.ts
  templates/jquery/js/radial-chart/radial-chart/files/index.html
  templates/jquery/js/scatter-chart/scatter-chart/files/index.html
  templates/jquery/js/tree-grid/tree-grid-custom/files/index.html
  templates/jquery/js/tree-grid/tree-grid-editing/files/index.html
  templates/jquery/js/tree-grid/tree-grid-export/files/index.html
  templates/jquery/js/tree-grid/tree-grid/files/index.html
Labels: enhancement, ignite-ui, jquery, status: verified

#313 Update Ignite UI for Angular project content layout
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.html
Labels: angular, status: verified

#300 Command - Add - Can now choose in which module should template be added
  lib/commands/add.ts
  lib/project-utility/TypeScriptFileUpdate.ts
  lib/templates/AngularTemplate.ts
  lib/templates/IgniteUIForAngularTemplate.ts
  lib/templates/ReactTemplate.ts
  lib/templates/jQueryTemplate.ts
  lib/types/BaseTemplate.d.ts
  lib/types/Template.d.ts
  lib/types/TemplateDependency.d.ts
  package-lock.json
  spec/unit/add-spec.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
Labels: angular, angular-wrappers, commands, feature, status: verified

#314 feat: Changing the React proj menu from horizontal to vertical + improvements
  templates/react/es6/projects/empty/files/client/components/Toolbar/index.js
  templates/react/es6/projects/empty/files/client/components/Toolbar/toolbar.scss
  templates/react/es6/projects/empty/files/client/containers/App/style.scss
  templates/react/es6/projects/empty/files/client/general.scss
  templates/react/es6/projects/empty/index.ts
Labels: enhancement, react-wrappers, status: verified

#316 Ignite UI Angular Wrappers project navigation layout update
  templates/angular/ig-ts/projects/empty/files/src/app/app.component.ts
  templates/angular/ig-ts/projects/empty/files/src/app/app.module.ts
  templates/angular/ig-ts/projects/empty/files/src/app/assets/css/styles.css
  templates/angular/ig-ts/projects/empty/files/src/app/assets/css/styles.scss
  templates/angular/ig-ts/projects/empty/files/src/app/assets/lines-bottom-right.svg
  templates/angular/ig-ts/projects/empty/files/src/app/shared/nav-menu.component.ts
  templates/angular/ig-ts/projects/empty/files/src/app/shared/toolbar.css
  templates/angular/ig-ts/projects/empty/files/src/app/shared/toolbar.scss
  templates/angular/ig-ts/projects/empty/files/src/index.html
  templates/angular/ig-ts/projects/empty/files/src/styles.css
Labels: angular-wrappers, status: in-test

#318 fix: Undefined check for argv.port
  lib/commands/start.ts
Labels: status: verified

#317 Updating the project description
  templates/angular/ig-ts/projects/empty/index.ts
Labels: angular-wrappers, status: awaiting-test

#320 Side nav scroll into view, script file rename
  lib/templates/jQueryTemplate.ts
  templates/jquery/js/projects/empty/files/assets/navigation.js
  templates/jquery/js/projects/empty/files/index.html
Labels: jquery, status: awaiting-test

#322 Angular - Templates - Update ReadMe and add documentation link
  templates/angular/igx-ts/carousel/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/combo/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/date-picker/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/list/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/tabbar/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/time-picker/default/files/src/app/__path__/__name__.component.html
Labels: angular, status: verified

#324 Adding samples.
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/bullet-graph/index.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/linear-gauge/index.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/radial-gauge/default/index.ts
  templates/angular/igx-ts/radial-gauge/index.ts
Labels: angular, status: verified

#323 Home view Ignite UI for Angular typo
  templates/angular/igx-ts/projects/empty/files/e2e/src/app.e2e-spec.ts
  templates/angular/igx-ts/projects/empty/files/src/app/home/home.component.ts
Labels: angular, status: verified
