Repository IgniteUI/igniteui-cli, pull requests merged in 2018-10, with the labels that each got.

#356 feat: Adding a "Log In" view
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/login/index.ts
Labels: angular, feature, squash-merge, status: verified

#374 Remove calling of project over project, fix #373
  lib/commands/test.ts
Labels: status: verified

#375 fix(*): proper chalk import
  lib/PromptSession.ts
Labels: commands, step by step

#372 feat: Adding weather sample.
  templates/angular/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/weather-data.ts
  templates/angular/igx-ts/custom-templates/weather-forecast/index.ts
Labels: angular, status: in-test
