Repository IgniteUI/igniteui-cli, pull requests merged in 2018-08, with the labels that each got.

#330 Increment default names suggested, based on existing folders
  lib/PromptSession.ts
  lib/Util.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/Util-spec.ts
  spec/unit/cli-spec.ts
  templates/jquery/js/custom-templates/editors-calculation-form/index.ts
Labels: angular, angular-wrappers, feature, jquery, react-wrappers, status: verified

#331 Add `groupPriority` to sort components within a group
  lib/BaseComponent.ts
  lib/BaseProjectLibrary.ts
  lib/MultiTemplateComponent.ts
  lib/PromptSession.ts
  lib/types/Component.d.ts
  spec/unit/BaseProjectLibrary-spec.ts
  templates/angular/igx-ts/grid/index.ts
Labels: enhancement, status: verified, step by step

#325 Templates - Angular - Add module dependencies to component templates
  templates/angular/igx-ts/carousel/default/index.ts
  templates/angular/igx-ts/list/default/index.ts
  templates/angular/igx-ts/tabbar/default/index.ts
Labels: angular, bug, status: verified

#326 Templates - Angular - Add links to feature docs on custom IgxGrid template
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-custom/index.ts
Labels: angular, enhancement, status: verified

#348 feat(calendar): Adding a template for igxCalendar #333
  templates/angular/igx-ts/calendar/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/calendar/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/calendar/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/calendar/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/calendar/default/index.ts
  templates/angular/igx-ts/calendar/index.ts
Labels: angular, status: verified

#346 Create dropdown template
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/local-data.ts
  templates/angular/igx-ts/dropdown/default/index.ts
  templates/angular/igx-ts/dropdown/index.ts
Labels: angular, status: verified

#350 feat: add a ComponentGroup interface to describe groups in step by step
  lib/BaseProjectLibrary.ts
  lib/PromptSession.ts
  lib/TemplateManager.ts
  lib/types/ComponentGroup.d.ts
  lib/types/ProjectLibrary.d.ts
  package.json
  spec/helpers/mocks.ts
  spec/unit/BaseProjectLibrary-spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/TemplateManager-spec.ts
  templates/angular/ig-ts/index.ts
  templates/angular/igx-ts/groups.json
  templates/angular/igx-ts/index.ts
  templates/jquery/js/groups.json
  templates/jquery/js/index.ts
  templates/react/es6/index.ts
Labels: enhancement, step by step

#352 Form view template
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/input-group/default/index.ts
  templates/angular/igx-ts/input-group/index.ts
Labels: angular, status: verified

#351 Added multi column headers grid template.
  templates/angular/igx-ts/grid/multi-column-headers/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/grid/multi-column-headers/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/multi-column-headers/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/grid/multi-column-headers/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/grid/multi-column-headers/files/src/app/__path__/localData.ts
  templates/angular/igx-ts/grid/multi-column-headers/index.ts
Labels: angular, status: verified

#354 Create igx-tabs template
  templates/angular/igx-ts/tabs/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/tabs/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/tabs/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/tabs/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/tabs/default/index.ts
  templates/angular/igx-ts/tabs/index.ts
Labels: angular, status: verified

#360 Add missing Angular igx-ts group descriptions.
  templates/angular/ig-ts/hierarchical-grid/index.ts
  templates/angular/igx-ts/groups.json
  templates/angular/igx-ts/projects/empty/files/ignite-ui-cli.json
  templates/jquery/js/hierarchical-grid/index.ts
  templates/jquery/js/projects/empty/files/ignite-ui-cli.json
  templates/react/es6/hierarchical-grid/index.ts
  templates/react/es6/projects/empty/files/ignite-ui-cli.json
Labels: status: verified

#357 Create grid summaries template #342
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/localData.ts
  templates/angular/igx-ts/grid/grid-summaries/index.ts
Labels: angular, status: verified

#358 Update custom grid tmp
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-custom/index.ts
Labels: angular, status: verified

#361 fix: Add es7/object in polyfill.ts
  templates/angular/igx-ts/projects/empty/files/src/polyfills.ts
Labels: angular, bug, status: verified

#362 Skip sending 'Back' user choice to GA, closes #345
  lib/PromptSession.ts
Labels: status: awaiting-test
