Repository IgniteUI/igniteui-cli, pull requests merged in 2018-11, with the labels that each got.

#382 chore(igx): limit igniteui-angular to 6.1.x for existing projects
  templates/angular/igx-ts/projects/empty/files/package.json
Labels: angular

#389 Ignite UI for Angular 6.2 update
  spec/acceptance/add-spec.ts
  templates/angular/igx-ts/custom-templates/awesome-grid/index.ts
  templates/angular/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/crm-grid/index.ts
  templates/angular/igx-ts/grid/default/index.ts
  templates/angular/igx-ts/grid/grid-custom/index.ts
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-summaries/index.ts
  templates/angular/igx-ts/grid/multi-column-headers/index.ts
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/list/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/src/app/home/home.component.css
  templates/angular/igx-ts/projects/_base/files/src/environments/environment.ts
  templates/angular/igx-ts/projects/_base/files/src/index.html
  templates/angular/igx-ts/projects/_base/files/src/main.ts
  templates/angular/igx-ts/projects/_base/files/src/tsconfig.app.json
  templates/angular/igx-ts/projects/_base/files/src/tsconfig.spec.json
  templates/angular/igx-ts/projects/_base/files/tsconfig.json
  templates/angular/igx-ts/projects/_base/files/tslint.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/src/index.html
  templates/angular/igx-ts/tabbar/default/files/src/app/__path__/__name__.component.html
Labels: angular, status: verified

#328 Added styling to jQuery projects.
  spec/acceptance/add-spec.ts
  templates/jquery/js/bar-chart/bar-chart/files/index.html
  templates/jquery/js/bar-chart/bar-chart/files/style.css
  templates/jquery/js/column-chart/column-chart/files/index.html
  templates/jquery/js/column-chart/column-chart/files/style.css
  templates/jquery/js/combo/combo/files/index.html
  templates/jquery/js/combo/combo/files/style.css
  templates/jquery/js/doughnut-chart/doughnut-chart/files/index.html
  templates/jquery/js/doughnut-chart/doughnut-chart/files/style.css
  templates/jquery/js/editors/files/index.html
  templates/jquery/js/editors/files/style.css
  templates/jquery/js/financial-chart/financial-chart/files/index.html
  templates/jquery/js/financial-chart/financial-chart/files/style.css
  templates/jquery/js/funnel-chart/funnel-chart/files/index.html
  templates/jquery/js/funnel-chart/funnel-chart/files/style.css
  templates/jquery/js/grid/grid-custom/files/index.html
  templates/jquery/js/grid/grid-custom/files/style.css
  templates/jquery/js/grid/grid-editing/files/index.html
  templates/jquery/js/grid/grid-editing/files/style.css
  templates/jquery/js/grid/grid-export/files/index.html
  templates/jquery/js/grid/grid-export/files/style.css
  templates/jquery/js/grid/grid/files/index.html
  templates/jquery/js/grid/grid/files/style.css
  templates/jquery/js/hierarchical-grid/hierarchical-grid-export/files/index.html
  templates/jquery/js/hierarchical-grid/hierarchical-grid-export/files/style.css
  templates/jquery/js/pie-chart/pie-chart/files/index.html
  templates/jquery/js/pie-chart/pie-chart/files/style.css
  templates/jquery/js/projects/empty/files/assets/app.css
  templates/jquery/js/radial-chart/radial-chart/files/index.html
  templates/jquery/js/radial-chart/radial-chart/files/style.css
  templates/jquery/js/scatter-chart/scatter-chart/files/index.html
  templates/jquery/js/scatter-chart/scatter-chart/files/style.css
  templates/jquery/js/tree-grid/tree-grid-export/files/index.html
  templates/jquery/js/tree-grid/tree-grid-export/files/style.css
Labels: enhancement, jquery, status: verified

#392 Updating the 'package.json' for the Angular Wrappers projects
  templates/angular/ig-ts/projects/empty/files/package.json
Labels: angular-wrappers, status: verified, version: 3.0.x

#390 Update ignite-ui-cli.json to use correct project template
  lib/packages/PackageManager.ts
  spec/unit/packageManager-spec.ts
  templates/jquery/js/projects/empty/files/ignite-ui-cli.json
  templates/react/es6/projects/empty/files/ignite-ui-cli.json
Labels: jquery, react-wrappers, status: verified

#394 Misc fixes
  lib/commands/quickstart.ts
  lib/commands/start.ts
  lib/packages/PackageManager.ts
  package-lock.json
  package.json
  spec/jasmine-runner.ts
  spec/tslint.json
  spec/unit/packageManager-spec.ts
  spec/unit/quickstart-spec.ts
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.html
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.scss
  templates/angular/igx-ts/projects/empty/files/src/styles.scss
  templates/jquery/js/projects/empty/files/package.json
  templates/quickstart/angular/package.json
  templates/quickstart/jquery/package.json
  templates/quickstart/react/package.json
Labels: angular, jquery, npm, react-wrappers

#391 chore(igx): add migration for 6.2 typography
  migrations/migration-collection.json
  migrations/update-3/index.spec.ts
  migrations/update-3/index.ts
Labels: angular

#378 Adding 'Row Editing' feature for the Custom Grid template #377
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-custom/index.ts
Labels: angular, feature, status: verified

#396 Properly resolve lite-server/browser-sync from projects
  lib/commands/quickstart.ts
  lib/commands/start.ts
Labels: commands

#384 A marinov/chips template
  templates/angular/igx-ts/chip/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/chip/default/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/chip/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/chip/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/chip/default/index.ts
  templates/angular/igx-ts/chip/index.ts
Labels: angular, enhancement, ignite-ui, squash-merge, status: verified

#387 Adding the igxTooltip template
  templates/angular/igx-ts/tooltip/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/tooltip/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/tooltip/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/tooltip/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/tooltip/default/files/src/assets/1.jpg
  templates/angular/igx-ts/tooltip/default/files/src/assets/2.png
  templates/angular/igx-ts/tooltip/default/index.ts
  templates/angular/igx-ts/tooltip/index.ts
Labels: angular, enhancement, ignite-ui, squash-merge, status: verified

#402 Update Custom Grid template
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/grid/grid-custom/index.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login/login.component.html
Labels: angular, status: verified

#403 Set version in all proj configs, migrate igx project template
  lib/ProjectConfig.ts
  migrations/migration-collection.json
  migrations/update-3/index.spec.ts
  migrations/update-3/index.ts
  templates/angular/ig-ts/projects/empty/files/ignite-ui-cli.json
  templates/angular/igx-ts/projects/_base/files/ignite-ui-cli.json
  templates/jquery/js/projects/empty/files/ignite-ui-cli.json
  templates/quickstart/angular/ignite-ui-cli.json
  templates/react/es6/projects/empty/files/ignite-ui-cli.json
Labels: angular, status: verified

#409 fix(npm): generate random guid if needed
  lib/GoogleAnalytics.ts
  spec/unit/GoogleAnalytic-spec.ts
Labels: enhancement, npm, status: verified

#412 Update to Angular7 & igniteui-angular-wrappers to v7
  templates/angular/ig-ts/projects/empty/files/package.json
Labels: angular-wrappers, status: verified

#414 Updating IgniteUI for JavaScript packages to 18.2
  templates/jquery/js/projects/empty/files/package.json
  templates/react/es6/projects/empty/files/package.json
Labels: jquery, react-wrappers, status: verified

#415 Update Ignite UI for Angular projects to 7.0.0 and ng cli latest
  templates/angular/igx-ts/projects/_base/files/.editorconfig
  templates/angular/igx-ts/projects/_base/files/angular.json
  templates/angular/igx-ts/projects/_base/files/gitignore
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/src/browserslist
  templates/angular/igx-ts/projects/_base/files/src/karma.conf.js
  templates/angular/igx-ts/projects/_base/files/src/polyfills.ts
  templates/angular/igx-ts/projects/_base/files/tsconfig.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified

#404 feat(igxGrid): Updating the batch editing template
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/grid-transaction.component.ts
  templates/angular/igx-ts/grid/grid-batch-editing/index.ts
Labels: angular, enhancement, ignite-ui, squash-merge, status: verified, version: 3.0.x

#410 Schematic implementation
  .gitignore
  .vscode/settings.json
  lib/templates/IgniteUIForAngularTemplate.ts
  migrations/update-3/index.ts
  package-lock.json
  package.json
  schematics/cli-collection.json
  schematics/cli-config/files/ignite-ui-cli.json
  schematics/cli-config/index.spec.ts
  schematics/cli-config/index.ts
  spec/jasmine-runner.ts
  spec/unit/add-spec.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/custom-templates/awesome-grid/index.ts
  templates/angular/igx-ts/custom-templates/crm-grid/index.ts
  templates/angular/igx-ts/grid/grid-custom/index.ts
  templates/angular/igx-ts/grid/multi-column-headers/index.ts
Labels: angular, enhancement, squash-merge, status: verified
