Repository IgniteUI/igniteui-cli, pull requests merged in 2018-04, with the labels that each got.

#234 Mvenkov/google analytics
  .gitignore
  .travis.yml
  .vscode/launch.json
  .vscode/settings.json
  lib/GoogleAnalytic.ts
  lib/PromptSession.ts
  lib/Util.ts
  lib/cli.ts
  lib/commands/add.ts
  lib/commands/build.ts
  lib/commands/config.ts
  lib/commands/doc.ts
  lib/commands/generate.ts
  lib/commands/list.ts
  lib/commands/new.ts
  lib/commands/quickstart.ts
  lib/commands/start.ts
  lib/commands/test.ts
  lib/config/defaults.json
  lib/types/Config.d.ts
  lib/types/GoogleAnalytics.d.ts
  lib/types/GoogleAnalyticsParameters.d.ts
  package-lock.json
  package.json
  scripts/build-task.ts
  scripts/install.ts
  scripts/uninstall.ts
  spec/acceptance/add-spec.ts
  spec/acceptance/config-spec.ts
  spec/acceptance/generate-spec.ts
  spec/acceptance/new-spec.ts
  spec/unit/GoogleAnalytic-spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/add-spec.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  spec/unit/cli-spec.ts
  spec/unit/config-spec.ts
  spec/unit/doc-spec.ts
  spec/unit/generate-spec.ts
  spec/unit/list-spec.ts
  spec/unit/new-spec.ts
  spec/unit/quickstart-spec.ts
  spec/unit/test-spec.ts
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
Labels: feature

#238 fix(igniteui-angular): lint, typescript transforms respect editorconfig/tslint
  lib/project-utility/TypeScriptFileUpdate.ts
  spec/acceptance/add-spec.ts
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
Labels: angular

#240 fix: on publish safe updated package.json in correct folder
  scripts/build-task.ts
Labels: bug

#254 Enable required IE11 polyfills by default in Ignite UI for Angular project
  templates/angular/igx-ts/projects/empty/files/src/polyfills.ts
Labels: angular

#261 lint chart templates quotes
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/financial-chart/default/files/src/app/__path__/__name__.component.ts
Labels: angular, charts

#263 Ignite UI for Angular project layout cleanup and refactor
  templates/angular/igx-ts/carousel/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/carousel/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/carousel/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/monster-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/financial-chart/default/files/src/app/__path__/__name__.component.css
  templates/angular/igx-ts/financial-chart/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.css
  templates/angular/igx-ts/projects/empty/files/src/app/app.component.html
  templates/angular/igx-ts/projects/empty/files/src/app/home/home.component.css
  templates/angular/igx-ts/time-picker/default/files/src/app/__path__/__name__.component.html
Labels: angular, status: verified
