Repository IgniteUI/igniteui-cli, pull requests merged in 2019-07, with the labels that each got.

#529 Change dependencies from beta to latest release
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/radial-gauge/default/index.ts
Labels: angular, status: verified

#528 Change ExternalAuthConfig to interface
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/external-auth-configs.ts
Labels: angular, status: verified

#530 refactor(igx-ts): remove es7 Object poly and explicit core-js dep
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/src/polyfills.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified

#537 Update to 8.1.x
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/projects/_base/files/e2e/protractor.conf.js
  templates/angular/igx-ts/projects/_base/files/e2e/tsconfig.json
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/src/karma.conf.js
  templates/angular/igx-ts/projects/_base/files/src/polyfills.ts
  templates/angular/igx-ts/projects/_base/files/src/tslint.json
  templates/angular/igx-ts/projects/_base/files/tsconfig.json
  templates/angular/igx-ts/projects/_base/files/tslint.json
Labels: status: verified, version: 4.2.x

#538 update to igniteui-angular 8.1.0
  templates/angular/igx-ts/projects/_base/files/angular.json
  templates/angular/igx-ts/projects/_base/files/e2e/protractor.conf.js
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: status: verified

#540 Update links in hgrid and tree grid templates
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/tree-grid/tree-grid-custom/index.ts
Labels: status: verified

#542 chore(migration): Awesome Grid extra paginator style for 4.2.3
  migrations/migration-collection.json
  migrations/update-4_2_3/index.spec.ts
  migrations/update-4_2_3/index.ts
Labels: migration
