Repository IgniteUI/igniteui-cli, pull requests merged in 2019-01, with the labels that each got.

#432 Update Combo view to use template directives
  templates/angular/igx-ts/combo/default/files/src/app/__path__/__name__.component.html
Labels: angular, status: verified

#435 Feat - Add Empty Template
  templates/angular/igx-ts/projects/empty-page/files/src/app/app-routing.module.ts
  templates/angular/igx-ts/projects/empty-page/files/src/app/app.component.html
  templates/angular/igx-ts/projects/empty-page/files/src/app/app.component.scss
  templates/angular/igx-ts/projects/empty-page/files/src/app/app.component.ts
  templates/angular/igx-ts/projects/empty-page/files/src/app/app.module.ts
  templates/angular/igx-ts/projects/empty-page/files/src/app/home/home.component.html
  templates/angular/igx-ts/projects/empty-page/files/src/app/home/home.component.scss
  templates/angular/igx-ts/projects/empty-page/files/src/app/home/home.component.ts
  templates/angular/igx-ts/projects/empty-page/files/src/assets/.gitkeep
  templates/angular/igx-ts/projects/empty-page/files/src/assets/GitHub/github.svg
  templates/angular/igx-ts/projects/empty-page/files/src/assets/indigo-design.svg
  templates/angular/igx-ts/projects/empty-page/index.ts
Labels: angular, enhancement, status: verified

#436 Add a message for Angular version mismatch
  schematics/cli-config/index.spec.ts
  schematics/cli-config/index.ts
  schematics/utils/cli-config.ts
  schematics/utils/theme-import.ts
Labels: angular, ignite-ui, schematics, status: verified

#434 Add a more descriptive message to an igx-ts/projects/polyfills.ts import
  templates/angular/igx-ts/projects/_base/files/src/polyfills.ts
Labels: angular, documentation
