Repository IgniteUI/igniteui-cli, pull requests merged in 2019-10, with the labels that each got.

#567 test(coverage): include files for coverage, update path to schematic specs
  package.json
  spec/jasmine-runner.ts
Labels: angular, status: awaiting-test, tests

#568 fix(igx-templates): add padding to list component template
  templates/angular/igx-ts/list/default/files/src/app/__path__/__name__.component.scss
Labels: angular, status: verified

#571 feat(schematics): add prompt session to component schematic, #566
  packages/ng-schematics/src/component/index.ts
  packages/ng-schematics/src/component/index_spec.ts
  packages/ng-schematics/src/component/schema.json
  packages/ng-schematics/src/component/schema.ts
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/prompt/SchematicsPromptSession.ts
  packages/ng-schematics/src/start/index.ts
Labels: angular, schematics, status: verified

#574 release: 5.0.0-alpha.3
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, version: 5.0.x

#573 Аdd autoprefixer grid: on alongside the custom theme
  schematics/utils/theme-import.ts
  spec/unit/PromptSession-spec.ts
  templates/angular/igx-ts/projects/_base/files/src/styles.scss
  templates/angular/igx-ts/projects/_base/index.ts
Labels: schematics, status: verified

#575 refactor(schematics): split component in multiple functions, add Route & module opts
  packages/ng-schematics/src/collection.json
  packages/ng-schematics/src/component/index.ts
  packages/ng-schematics/src/component/index_spec.ts
  packages/ng-schematics/src/component/schema.json
  packages/ng-schematics/src/component/schema.ts
  packages/ng-schematics/src/ng-new/index.ts
Labels: angular, schematics, squash-merge, status: verified
