Repository IgniteUI/igniteui-cli, pull requests merged in 2019-03, with the labels that each got.

#467 Add projTemplate and theme to GA
  lib/PromptSession.ts
  spec/unit/PromptSession-spec.ts
Labels: status: verified, version: 4.0.x

#470 Update CLI to use latest igniteui for angular rc
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified

#463 Add templates for the IgxHierarchicalGrid
  lib/templates/AngularTemplate.ts
  templates/angular/igx-ts/hierarchical-grid/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/default/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/hierarchical-grid/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/hierarchical-grid/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/hierarchical-grid/default/files/src/app/__path__/data.ts
  templates/angular/igx-ts/hierarchical-grid/default/index.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__-transactions.component.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/data.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/singer.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/index.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/data.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/custom-summary.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/data.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/files/src/app/__path__/singer.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-summaries/index.ts
  templates/angular/igx-ts/hierarchical-grid/index.ts
Labels: angular, hierarchical-grid, status: verified

#474 add mini reset package to igx projects
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/src/styles.scss
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified

#475 Update projects to latest RC3
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: in-test

#476 Update igntieui-angular to latest RC
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified

#457 Add IgxSelect templates
  package-lock.json
  package.json
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/select/default/index.ts
  templates/angular/igx-ts/select/index.ts
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.comonent.spec.ts
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/select/select-groups/index.ts
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/select/select-in-form/index.ts
Labels: angular, select, status: verified

#472 Update input group template styling
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/input-group/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/input-group/default/index.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/projects/_base/files/src/polyfills.ts
  templates/angular/igx-ts/radial-gauge/default/index.ts
Labels: angular, status: verified, version: 4.0.x

#458 Add IgxAutocomplete templates
  lib/Util.ts
  lib/templates/AngularTemplate.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  templates/angular/igx-ts/autocomplete/autocomplete-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/autocomplete/autocomplete-custom/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/autocomplete/autocomplete-custom/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/autocomplete/autocomplete-custom/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/autocomplete/autocomplete-custom/files/src/app/__path__/towns-data.ts
  templates/angular/igx-ts/autocomplete/autocomplete-custom/index.ts
  templates/angular/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/towns-data-extended.ts
  templates/angular/igx-ts/autocomplete/autocomplete-extended/index.ts
  templates/angular/igx-ts/autocomplete/index.ts
Labels: angular, autocomplete, status: verified

#478 fix(igx-ts): update drop-down template to use toggle action + nav directive
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.ts
Labels: angular, status: verified

#481 Update angular projects to latest igniteui-angular
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: status: verified

#480 Cleanup select templates
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/select/default/index.ts
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.comonent.spec.ts
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/select/select-groups/index.ts
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/select/select-in-form/index.ts
Labels: select, status: verified

#483 chore(*): Fix warning message text.
  lib/packages/PackageManager.ts
  spec/unit/packageManager-spec.ts
Labels: ignite-ui, status: verified

#486 Dpetev/package updates
  package-lock.json
  package.json
  spec/acceptance/help-spec.ts
  spec/jasmine-runner.ts
  spec/unit/add-spec.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  spec/unit/cli-spec.ts
  templates/angular/ig-ts/projects/empty/files/package.json
Labels: angular-wrappers, npm, status: verified, tests

#488 docs: new readme gif
  assets/igniteui-cli.gif
Labels: documentation

#490 fix(igx-ts): login view scenario is properly templated
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/login/files/src/app/__path__/__name__.component.ts
Labels: angular, squash-merge, status: verified

#489 fix: Side-nav-auth project to work correctly with payload encoded in UTF-8
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/base-oidc-provider.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/fake-backend.service.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/jwt-util.ts
Labels: angular, bug, status: verified, version: 4.1.x
