Repository IgniteUI/igniteui-cli, pull requests merged in 2019-05, with the labels that each got.

#501 Angular - Update igniteui-angular version to 7.3.0 beta
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular

#502 chore(igx-ts): bump igniteui-angular version to 7.3.0-beta.1
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular

#503 chore(igx-ts): bump igniteui-angular version to 7.3.0-rc.1
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular

#500 fix(angular): add `IgxButtonModule` import to dialog template
  templates/angular/igx-ts/dialog/default/index.ts
Labels: status: verified

#505 Add samples container for empty project
  templates/angular/igx-ts/projects/empty-page/files/src/app/app.component.html
  templates/angular/igx-ts/projects/empty-page/files/src/app/app.component.scss
  templates/angular/igx-ts/projects/empty-page/files/src/app/home/home.component.scss
Labels: angular, enhancement, status: verified

#508 Properly pass in column reference on column pinning
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
Labels: angular, hierarchical-grid, status: verified

#512 Stop event propagation on pin icon click
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
Labels: hierarchical-grid, status: verified

#514 Update samples styles
  templates/angular/igx-ts/select/default/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/select/select-groups/files/src/app/__path__/__name__.component.scss
Labels: enhancement, select, status: verified

#498 refactor(templates): simplify processTemplates
  lib/Util.ts
Labels: enhancement, status: verified

#506 Refactor - move `formatOutput` and `relativePath` methods to Util
  lib/PromptSession.ts
  lib/Util.ts
  lib/project-utility/TypeScriptFileUpdate.ts
  lib/project-utility/TypeScriptUtils.ts
  lib/templates/IgniteUIForAngularTemplate.ts
  spec/unit/Util-spec.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
  spec/unit/ts-transform/TypeScriptUtils-spec.ts
Labels: improvement, status: verified

#497 Replace shelljs.exec with child_process.execSync
  lib/GoogleAnalytics.ts
  lib/Util.ts
  lib/commands/quickstart.ts
  lib/commands/start.ts
  lib/commands/test.ts
  lib/packages/PackageManager.ts
  package.json
  spec/acceptance/add-spec.ts
  spec/acceptance/new-spec.ts
  spec/unit/new-spec.ts
  spec/unit/packageManager-spec.ts
  spec/unit/quickstart-spec.ts
  spec/unit/start-spec.ts
  spec/unit/test-spec.ts
Labels: commands, status: verified

#517 refactor(step-by-step): rework choose action loop with tasks, validation
  lib/PromptSession.ts
  lib/Util.ts
  lib/commands/add.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/add-spec.ts
Labels: improvement, squash-merge, status: verified, step by step
