Repository IgniteUI/igniteui-cli, pull requests merged in 2019-08, with the labels that each got.

#549 Adding Tree Grid FinTech template
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/assets/financialData.ts
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/localData.service.ts
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/themes/_mixins.scss
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/files/src/app/__path__/tree-grid-grouping.pipe.ts
  templates/angular/igx-ts/custom-templates/tree-grid-finjs/index.ts
Labels: angular, status: verified

#548 feat(igx-ts): add FinJS Live Update Grid scenario
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/localData.service.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/localData.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/localData/financialData.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/themes/_mixins.scss
  templates/angular/igx-ts/custom-templates/fintech-grid/index.ts
Labels: angular, enhancement, squash-merge, status: verified

#550 Unify FinTech names
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__name__.component.scss
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/assets/financialData.ts
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/localData.service.ts
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/themes/_mixins.scss
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/tree-grid-grouping.pipe.ts
  templates/angular/igx-ts/custom-templates/fintech-tree-grid/index.ts
Labels: status: verified, version: 4.2.x
