Repository IgniteUI/igniteui-cli, pull requests merged in 2019-12, with the labels that each got.

#603 feat(schematics): skip start task if skipInstall === true
  packages/ng-schematics/src/ng-new/index.ts
Labels: angular, schematics, status: verified

#605 fix(schematics): set virtual FS in proper stage
  packages/igx-templates/IgniteUIForAngularTemplate.ts
  packages/ng-schematics/src/component/index.ts
Labels: angular, schematics, status: verified, version: 5.0.x

#602 Adding a name for schematics projects
  packages/core/util/App.ts
  packages/core/util/GoogleAnalytics.ts
  packages/ng-schematics/src/component/index.ts
  packages/ng-schematics/src/component/index_spec.ts
  packages/ng-schematics/src/ng-new/index.ts
Labels: angular, commands, enhancement, schematics, status: verified, version: 5.0.x

#607 release: 5.0.0-beta.2
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, schematics, version: 5.0.x

#609 fix(new, schematics): No prompts when "name" is provided
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
Labels: angular, enhancement, squash-merge, status: verified, version: 5.0.x

#614 docs(*): update README
  README.md
Labels: documentation, version: 5.0.x

#610 Check if there is provided user configuration - master
  templates/angular/igx-ts/autocomplete/autocomplete-extended/index.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
Labels: 4.3.x, autocomplete, hierarchical-grid, status: verified

#616 Merge master into vNext
  packages/igx-templates/igx-ts/autocomplete/autocomplete-extended/index.ts
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  packages/igx-templates/igx-ts/list/default/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/projects/_base/files/src/styles.scss
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/ng-schematics/src/utils/theme-import.ts
  spec/unit/PromptSession-spec.ts
Labels: version: 5.0.x

#615 release: 5.0.0-beta.3
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, schematics, version: 5.0.x
