Repository IgniteUI/igniteui-cli, pull requests merged in 2019-11, with the labels that each got.

#588 Add messages prompting the user to try cli schematics out
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/commands/add.ts
  packages/cli/lib/commands/new.ts
Labels: status: verified, version: 5.0.x

#584 fix(igx-ts): update autocomplete templates to import FormsModule
  packages/igx-templates/igx-ts/autocomplete/autocomplete-custom/index.ts
  packages/igx-templates/igx-ts/autocomplete/autocomplete-extended/index.ts
Labels: angular, autocomplete, status: verified, version: 5.0.x

#591 fix(schematics): use project config instead of hard-coded paths
  schematics/cli-config/index.spec.ts
  schematics/cli-config/index.ts
  schematics/utils/theme-import.ts
Labels: schematics, status: verified, version: 4.2.x

#586 fix(schematics): component schematics checks for available names
  packages/core/prompt/BasePromptSession.ts
  packages/core/util/Util.ts
  packages/ng-schematics/src/component/index.ts
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/prompt/SchematicsPromptSession.ts
Labels: angular, schematics, status: verified, version: 5.0.x

#592 fix(schematics): use project config instead of hard-coded paths
  packages/ng-schematics/src/cli-config/index.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
  packages/ng-schematics/src/utils/theme-import.ts
Labels: schematics, status: verified, version: 5.0.x

#594 refactor(core): change file system handling in CLI to account for NgTree
  packages/cli/lib/cli.ts
  packages/core/prompt/BasePromptSession.ts
  packages/core/types/FileSystem.ts
  packages/core/types/index.ts
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/typescript/TypeScriptUtils.ts
  packages/core/util/App.ts
  packages/core/util/Container.ts
  packages/core/util/FileSystem.ts
  packages/core/util/ProjectConfig.ts
  packages/core/util/Util.ts
  packages/core/util/index.ts
  packages/igx-templates/IgniteUIForAngularTemplate.ts
  packages/ng-schematics/src/cli-config/index.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
  packages/ng-schematics/src/component/index.ts
  packages/ng-schematics/src/component/index_spec.ts
  packages/ng-schematics/src/component/schema.ts
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
  packages/ng-schematics/src/prompt/SchematicsPromptSession.ts
  packages/ng-schematics/src/start/index.ts
  packages/ng-schematics/src/utils/NgFileSystem.ts
  packages/ng-schematics/src/utils/cli-config.ts
  spec/unit/add-spec.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
  spec/unit/ts-transform/TypeScriptUtils-spec.ts
Labels: angular, schematics, status: verified, version: 5.0.x

#599 fix(igx-templates): fix side-auth template tsconfig.app.json, #
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/tsconfig.app.json
Labels: angular, schematics, status: verified

#598 Adding ng-new schematic missing options
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
  packages/ng-schematics/src/ng-new/schema.json
  packages/ng-schematics/src/ng-new/schema.ts
Labels: angular, schematics, squash-merge, status: verified

#601 ng-new able to run without prompts
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
Labels: angular, commands, enhancement, schematics, squash-merge, status: verified
