Repository IgniteUI/igniteui-cli, pull requests merged in 2019-06, with the labels that each got.

#520 fix(npm): restrict inquirer version due to terminal freeze in latest pkg
  package-lock.json
  package.json
Labels: npm, status: verified, step by step

#518 feat(igx): Update Ignite UI for Angular projects to version 8
  migrations/update-2/index.spec.ts
  package-lock.json
  package.json
  schematics/utils/cli-config.ts
  schematics/utils/theme-import.ts
  templates/angular/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/chip/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/dropdown/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/projects/_base/files/angular.json
  templates/angular/igx-ts/projects/_base/files/browserslist
  templates/angular/igx-ts/projects/_base/files/karma.conf.js
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/src/browserslist
  templates/angular/igx-ts/projects/_base/files/src/tsconfig.app.json
  templates/angular/igx-ts/projects/_base/files/src/tsconfig.spec.json
  templates/angular/igx-ts/projects/_base/files/tsconfig.app.json
  templates/angular/igx-ts/projects/_base/files/tsconfig.json
  templates/angular/igx-ts/projects/_base/files/tsconfig.spec.json
  templates/angular/igx-ts/projects/_base/files/tslint.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login-bar/login-bar.component.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login-dialog/login-dialog.component.ts
  templates/angular/igx-ts/projects/side-nav/files/src/app/app.component.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/radial-gauge/default/index.ts
  templates/angular/igx-ts/select/select-in-form/files/src/app/__path__/__name__.component.ts
Labels: angular, enhancement, status: verified

#521 fix(web-animations;angular.json): update web-animations versions, add…
  templates/angular/igx-ts/projects/_base/files/angular.json
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/_base/files/tsconfig-es5.app.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified

#522 Dpetev/8 update fixes
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/src/tsconfig.app.json
  templates/angular/igx-ts/projects/side-nav-auth/files/src/tsconfig.spec.json
  templates/angular/igx-ts/projects/side-nav-auth/files/tsconfig.app.json
  templates/angular/igx-ts/projects/side-nav-auth/files/tsconfig.spec.json
Labels: angular, status: verified

#524 Change ExternalAuthConfig to abstract class; fix circular dependencies
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/authentication-routing.module.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login/login.component.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/base-oidc-provider.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/facebook-provider.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/redirect/redirect.component.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/external-auth-configs.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/external-auth.service.ts
Labels: angular, status: verified

#523 fix(*): update inquirer & web-animations-js package versions
  package-lock.json
  package.json
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, npm, status: verified

#525 fix(igx-auth-proj): fix tests in igx-auth-proj, fix tsconfig location in angular.json
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/projects/_base/files/angular.json
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login/login.component.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/providers.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/services.spec.ts
Labels: angular, status: verified, tests

#526 Remove igniteui-angular from dependencies
  package-lock.json
  package.json
Labels: angular, status: awaiting-test
