Repository IgniteUI/igniteui-cli, pull requests merged in 2019-02, with the labels that each got.

#444 Update crm grid template to use correct style mixin
  templates/angular/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__name__.component.scss
Labels: status: verified

#442 test(auth-module): add tests for authentication module project
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/auth.guard.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login-bar/login-bar.component.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/login/login.component.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/facebook-provider.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/providers.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/register/register.component.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/authentication.service.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/jwt-util.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/jwt.spec.ts
  templates/angular/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/services.spec.ts
Labels: angular, enhancement, status: verified, tests

#439 Add default styles to angular workspace for sass projects
  schematics/cli-config/index.spec.ts
  schematics/utils/theme-import.ts
Labels: angular, ignite-ui, improvement, schematics, status: verified

#447 feat(igr): add financial chart template to igr-es6 templates
  templates/react/igr-es6/bullet-graph/default/index.ts
  templates/react/igr-es6/category-chart/default/index.ts
  templates/react/igr-es6/doughnut-chart/default/index.ts
  templates/react/igr-es6/financial-chart/default/files/src/views/__path__/index.js
  templates/react/igr-es6/financial-chart/default/files/src/views/__path__/style.css
  templates/react/igr-es6/financial-chart/default/files/src/views/__path__/test.js
  templates/react/igr-es6/financial-chart/default/index.ts
  templates/react/igr-es6/financial-chart/index.ts
  templates/react/igr-es6/grid/basic/index.ts
  templates/react/igr-es6/linear-gauge/default/index.ts
  templates/react/igr-es6/pie-chart/default/index.ts
  templates/react/igr-es6/projects/_base/files/package.json
  templates/react/igr-es6/radial-gauge/default/index.ts
Labels: react, status: verified

#453 Ignite UI for React project support updates
  lib/Util.ts
  lib/commands/start.ts
  spec/unit/start-spec.ts
  templates/react/igr-es6/bullet-graph/default/files/src/views/__path__/index.js
  templates/react/igr-es6/bullet-graph/default/index.ts
  templates/react/igr-es6/category-chart/default/index.ts
  templates/react/igr-es6/doughnut-chart/default/index.ts
  templates/react/igr-es6/financial-chart/default/index.ts
  templates/react/igr-es6/grid/basic/index.ts
  templates/react/igr-es6/index.ts
  templates/react/igr-es6/linear-gauge/default/index.ts
  templates/react/igr-es6/pie-chart/default/index.ts
  templates/react/igr-es6/projects/_base/files/ignite-ui-cli.json
  templates/react/igr-es6/projects/_base/files/package.json
  templates/react/igr-es6/projects/_base/files/public/index.html
  templates/react/igr-es6/projects/_base/index.ts
  templates/react/igr-es6/projects/top-nav/index.ts
  templates/react/igr-es6/radial-gauge/default/index.ts
Labels: react, status: verified

#452 Update Ignite UI for React project readme
  templates/react/igr-es6/projects/_base/files/README.md
  templates/react/index.ts
Labels: react, status: verified

#454 feat(igr-es6): add enzyme + adapter package, support tests on template
  templates/react/igr-es6/bullet-graph/default/files/src/views/__path__/test.js
  templates/react/igr-es6/category-chart/default/files/src/views/__path__/test.js
  templates/react/igr-es6/doughnut-chart/default/files/src/views/__path__/test.js
  templates/react/igr-es6/financial-chart/default/files/src/views/__path__/test.js
  templates/react/igr-es6/grid/basic/files/src/views/__path__/test.js
  templates/react/igr-es6/linear-gauge/default/files/src/views/__path__/test.js
  templates/react/igr-es6/pie-chart/default/files/src/views/__path__/test.js
  templates/react/igr-es6/projects/_base/files/package.json
  templates/react/igr-es6/projects/top-nav/files/src/setupTests.js
  templates/react/igr-es6/radial-gauge/default/files/src/views/__path__/test.js
Labels: react, status: verified, tests

#455 New command: install packages on creation, add `--skip-install` param
  .vscode/launch.json
  lib/commands/new.ts
  spec/acceptance/help-spec.ts
  spec/acceptance/new-spec.ts
  spec/unit/new-spec.ts
Labels: commands, enhancement, status: verified

#448 Update igniteui-angular to latest beta
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
  templates/angular/igx-ts/radial-gauge/default/index.ts
Labels: angular, status: verified

#460 fix(igr-templates): change linear and radial gauge template ids, #459
  templates/react/igr-es6/linear-gauge/default/index.ts
  templates/react/igr-es6/radial-gauge/default/index.ts
Labels: react, status: in-test

#464 Update igxDatePicker template
  templates/angular/igx-ts/date-picker/default/files/src/app/__path__/__name__.component.html
Labels: angular, status: verified

#466 Update projects to use latest beta
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
Labels: status: verified

#469 update links to readme doc in grid templates
  templates/angular/igx-ts/grid/default/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-custom/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/grid-summaries/files/src/app/__path__/__name__.component.html
  templates/angular/igx-ts/grid/multi-column-headers/files/src/app/__path__/__name__.component.html
Labels: angular, status: in-test, version: 4.0.x
