Repository IgniteUI/igniteui-cli, pull requests merged in 2020-02, with the labels that each got.

#657 Update vscode launch config
  .vscode/launch.json
Labels: angular-wrappers, status: verified, version: 5.0.x

#659 Bump ng/cli version
  templates/angular/ig-ts/projects/empty/files/package.json
  templates/angular/igx-ts/projects/_base/files/package.json
  templates/angular/igx-ts/projects/side-nav-auth/files/package.json
  templates/quickstart/angular/package.json
Labels: angular, angular-wrappers, enhancement, status: verified, version: 4.4.x

#656 Iganchev/update ng prjcts latest ng rc
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/e2e/protractor.conf.js
  packages/igx-templates/igx-ts/projects/_base/files/e2e/src/app.po.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/src/app/home/home.component.spec.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/test.ts
  packages/igx-templates/igx-ts/projects/empty/files/e2e/src/app.po.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, angular-wrappers, enhancement, status: verified

#661 chore: update vscode launch config
  .vscode/launch.json
Labels: status: verified, version: 4.4.x

#662 release: 5.0.0-rc.1
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, angular-wrappers, schematics, version: 5.0.x

#669 Fix chip template
  templates/angular/igx-ts/chip/default/files/src/app/__path__/__name__.component.html
Labels: angular, status: verified

#673 Removing unnecessary . in a link in a CLI warning message.
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/commands/add.ts
  packages/cli/lib/commands/new.ts
Labels: bug, status: verified, version: 5.0.x

#675 Importing 'rxjs' in karma-test-entry
  templates/angular/ig-ts/projects/empty/files/karma-test-entry.ts
Labels: angular-wrappers, status: verified, tests, version: 4.4.x

#677 Updating Typescript version for Angular Wrappers projects
  templates/angular/ig-ts/projects/empty/files/package.json
Labels: angular-wrappers, status: verified, tests, version: 4.4.x

#664 Fix e2e failing tests
  templates/angular/igx-ts/projects/_base/files/e2e/src/app.e2e-spec.ts
  templates/angular/igx-ts/projects/_base/files/e2e/src/app.po.ts
  templates/angular/igx-ts/projects/empty-page/files/src/app/home/home.component.html
Labels: angular, status: verified, tests, version: 4.4.x

#672 Update prod build budgets
  templates/angular/igx-ts/projects/_base/files/angular.json
Labels: angular, status: verified, version: 4.4.x

#665 fix(igx-ts): Fix authentication template tests
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/login-bar/login-bar.component.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/login/login.component.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/providers.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/redirect/redirect.component.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/services.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/tsconfig.spec.json
Labels: angular, status: verified, tests, version: 5.0.x

#681 fix(templates, igx): add chart packages #679
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
Labels: charts, grid, status: verified, version: 5.0.x

#683 fix(carousel template, igx) images not displayed #682
  packages/igx-templates/igx-ts/carousel/default/files/src/app/__path__/__filePrefix__.component.scss
Labels: status: verified, version: 5.0.x

#685 fix(templates, igx): add chart packages #684
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
Labels: angular, status: verified, version: 5.0.x

#658 Iganchev/update ng projects to v9
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, angular-wrappers, enhancement, status: verified, version: 5.0.x

#688 Update igniteui-angular package version to rc3
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, version: 5.0.x

#691 Schematics dep updates
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/util/GoogleAnalytics.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/ng-new/index_spec.ts
  spec/acceptance/help-spec.ts
  spec/acceptance/new-spec.ts
  spec/unit/TemplateManager-spec.ts
  yarn.lock
Labels: status: verified, version: 5.0.x

#694 Dpetev/messages updates
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/commands/add.ts
  packages/cli/lib/commands/new.ts
  packages/ng-schematics/src/utils/cli-config.ts
Labels: angular, schematics, step by step, version: 5.0.x

#693 Failing test - Add noop animations module
  packages/igx-templates/igx-ts/carousel/default/files/src/app/__path__/__filePrefix__.component.spec.ts
Labels: status: verified, version: 5.0.x

#696 fix(schematics): ensure component prompt installs packages #695
  packages/ng-schematics/src/component/index.ts
Labels: angular, schematics, status: verified, version: 5.0.x

#697 chore(igx-ts,migrations): add HammerModule
  packages/cli/migrations/migration-collection.json
  packages/cli/migrations/update-5_0_0/index.spec.ts
  packages/cli/migrations/update-5_0_0/index.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.module.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.module.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.module.ts
Labels: angular, migration, status: verified, version: 5.0.x

#687 chore(templates, igx-ts, ig-ts): bump igniteui-angular and igniteui-angular-wrappers to 9.0.0
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: version: 5.0.x

#698 docs(changelog): transfer over old changelog and preliminary 5.0.0 notes
  CHANGELOG.md
Labels: documentation, version: 5.0.x

#701 fix(start): inherit all stdio, not just input #699
  packages/cli/lib/commands/start.ts
  packages/core/util/Util.ts
  spec/unit/start-spec.ts
Labels: commands, status: verified, step by step, version: 5.0.x

#703 fix(ig-ts): correct grid features template variable #702
  packages/cli/templates/angular/ig-ts/custom-templates/tree-grid-file-explorer/index.ts
  packages/cli/templates/angular/ig-ts/grid/basic/index.ts
  packages/cli/templates/angular/ig-ts/grid/grid-custom/index.ts
  packages/cli/templates/angular/ig-ts/grid/grid-editing/index.ts
  packages/cli/templates/angular/ig-ts/grid/grid-export/index.ts
  packages/cli/templates/angular/ig-ts/grid/grid-templating/index.ts
  packages/cli/templates/angular/ig-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  packages/cli/templates/angular/ig-ts/hierarchical-grid/hierarchical-grid-editing/index.ts
  packages/cli/templates/angular/ig-ts/hierarchical-grid/hierarchical-grid-export/index.ts
  packages/cli/templates/angular/ig-ts/hierarchical-grid/hierarchical-grid/index.ts
Labels: angular-wrappers, status: verified, version: 5.0.x

#704 spy analytics
  packages/ng-schematics/src/ng-new/index_spec.ts
Labels: schematics, tests, version: 5.0.x

#705 release: 5.0.1
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: version: 5.0.x
