Repository IgniteUI/igniteui-cli, pull requests merged in 2020-05, with the labels that each got.

#712 Updating the versions of igniteui-angular-core, gauges and charts
  packages/igx-templates/igx-ts/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts/category-chart/default/index.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts/financial-chart/default/index.ts
  packages/igx-templates/igx-ts/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts/radial-gauge/default/index.ts
Labels: angular, charts, status: verified

#714 Updating packages versions
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/cli/templates/react/igr-es6/projects/_base/files/package.json
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: 5.1.x, angular, angular-wrappers, status: verified

#718 Angular proj template error handler log instead throw, register only in prod
  packages/cli/migrations/migration-collection.json
  packages/cli/migrations/update-5_0_3/index.spec.ts
  packages/cli/migrations/update-5_0_3/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error-routing.module.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error/global-error-handler.service.ts
Labels: angular, migration, status: verified, version: 5.0.x

#719 merge master into vNext
  packages/cli/migrations/migration-collection.json
  packages/cli/migrations/update-5_0_3/index.spec.ts
  packages/cli/migrations/update-5_0_3/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error-routing.module.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error/global-error-handler.service.ts
Labels: 5.1.x

#728 Schematics resolve library package from project
  packages/cli/package.json
  packages/igx-templates/index.ts
  packages/igx-templates/package-resolve.spec.ts
  packages/igx-templates/package-resolve.ts
  packages/ng-schematics/src/cli-config/index.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
  packages/ng-schematics/src/utils/theme-import.ts
  spec/jasmine-runner.ts
Labels: 5.1.x, angular, schematics, status: verified

#731 chore(templates): update react package version
  packages/cli/templates/react/igr-es6/bullet-graph/default/index.ts
  packages/cli/templates/react/igr-es6/category-chart/default/index.ts
  packages/cli/templates/react/igr-es6/doughnut-chart/default/index.ts
  packages/cli/templates/react/igr-es6/financial-chart/default/index.ts
  packages/cli/templates/react/igr-es6/grid/basic/index.ts
  packages/cli/templates/react/igr-es6/linear-gauge/default/index.ts
  packages/cli/templates/react/igr-es6/pie-chart/default/index.ts
  packages/cli/templates/react/igr-es6/radial-gauge/default/index.ts
Labels: 5.1.x, react

#730 feat(*): add update-package command/schematic
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/commands/add.ts
  packages/cli/lib/commands/build.ts
  packages/cli/lib/commands/new.ts
  packages/cli/lib/templates/AngularTemplate.ts
  packages/cli/lib/templates/ReactTemplate.ts
  packages/cli/lib/templates/jQueryTemplate.ts
  packages/cli/migrations/update-5_0_0/index.ts
  packages/cli/templates/angular/ig-ts/projects/empty/index.ts
  packages/cli/templates/jquery/js/projects/empty/index.ts
  packages/cli/templates/react/es6/projects/empty/index.ts
  packages/cli/templates/react/igr-es6/projects/_base/index.ts
  packages/core/index.ts
  packages/core/packages/PackageManager.ts
  packages/core/packages/components.ts
  packages/core/types/FileSystem.ts
  packages/core/types/ProjectTemplate.ts
  packages/core/util/FileSystem.ts
  packages/igx-templates/Update.spec.ts
  packages/igx-templates/Update.ts
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/index.ts
  packages/igx-templates/package-resolve.spec.ts
  packages/ng-schematics/src/collection.json
  packages/ng-schematics/src/upgrade-packages/index.spec.ts
  packages/ng-schematics/src/upgrade-packages/index.ts
  packages/ng-schematics/src/utils/NgFileSystem.ts
  spec/acceptance/new-spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/add-spec.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
  spec/unit/new-spec.ts
  spec/unit/packageManager-spec.ts
Labels: 5.1.x, angular, schematics, status: verified

#736 fix(templates): upgrade command properly replaces strings in ALL .ts files
  packages/core/util/FileSystem.ts
  packages/core/util/Util.ts
  packages/igx-templates/Update.spec.ts
  packages/igx-templates/Update.ts
  spec/unit/ProjectConfig-spec.ts
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
Labels: 5.1.x, angular, status: verified

#733 Add upgrade command
  packages/cli/lib/cli.ts
  packages/cli/lib/commands/upgrade.ts
  packages/core/packages/PackageManager.ts
  spec/acceptance/help-spec.ts
  spec/unit/upgrade-spec.ts
Labels: 5.1.x, commands, squash-merge, status: verified

#739 fix(igx,templates): correct empty proj template id
  packages/igx-templates/igx-ts/projects/empty/index.ts
Labels: angular, status: verified, templates, version: 5.0.x

#738 Make update command prompts more meaningful
  packages/cli/lib/commands/upgrade.ts
  spec/unit/upgrade-spec.ts
Labels: 5.1.x, commands, status: verified

#740 fix(upgrade): sort packages.json dependencies when adding licensed package
  packages/igx-templates/Update.spec.ts
  packages/igx-templates/Update.ts
Labels: 5.1.x, angular, commands, status: verified

#732 Add question to update to paid package for angular
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/commands/add.ts
  packages/core/prompt/BasePromptSession.ts
  packages/igx-templates/Update.spec.ts
  packages/igx-templates/Update.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
  packages/ng-schematics/src/prompt/SchematicsPromptSession.ts
  packages/ng-schematics/src/upgrade-packages/index.spec.ts
  packages/ng-schematics/src/upgrade-packages/index.ts
  packages/ng-schematics/src/upgrade-packages/schema.json
  spec/unit/PromptSession-spec.ts
Labels: 5.1.x, angular, feature, schematics, status: verified

#742 feat(upgrade): handle multiple licensed packages
  packages/igx-templates/Update.spec.ts
  packages/igx-templates/Update.ts
  packages/igx-templates/package-resolve.ts
Labels: 5.1.x, angular, commands, status: verified

#744 Minor schematics fixes
  packages/ng-schematics/src/SchematicsTemplateManager.ts
  packages/ng-schematics/src/collection.json
Labels: 5.1.x, angular, schematics, status: verified

#746 chore(schematics): add migratoins collection, update group
  packages/ng-schematics/package.json
  packages/ng-schematics/src/migrations/migration-collection.json
Labels: 5.1.x, angular, npm, schematics

#745 fix(upgrade): provide default fallback for incorrect package template
  packages/cli/lib/commands/upgrade.ts
  packages/ng-schematics/src/upgrade-packages/index.spec.ts
  packages/ng-schematics/src/upgrade-packages/index.ts
  spec/unit/upgrade-spec.ts
Labels: 5.1.x, angular, commands, status: verified

#749 fix(upgrade): clear stdin stream before login prompt
  packages/core/packages/PackageManager.ts
Labels: 5.1.x, commands, status: verified
