Repository IgniteUI/igniteui-cli, pull requests merged in 2020-01, with the labels that each got.

#620 fix(add): only take into account 'extraConfig' in template parsing, #618
  lib/templates/AngularTemplate.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  templates/angular/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
Labels: 4.3.x, angular, commands, squash-merge, status: verified

#621 fix(ig-add): only take into account 'extraConfig' in generateConfig
  packages/igx-templates/IgniteUIForAngularTemplate.ts
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
Labels: angular, commands, squash-merge, status: verified, version: 5.0.x

#623 refactor(templates): rename 'empty-project' to 'empty' template
  packages/igx-templates/igx-ts/projects/empty/files/e2e/src/app.e2e-spec.ts
  packages/igx-templates/igx-ts/projects/empty/files/e2e/src/app.po.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app-routing.module.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.component.html
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.component.scss
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.component.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.module.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/home/home.component.html
  packages/igx-templates/igx-ts/projects/empty/files/src/app/home/home.component.scss
  packages/igx-templates/igx-ts/projects/empty/files/src/app/home/home.component.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/assets/.gitkeep
  packages/igx-templates/igx-ts/projects/empty/files/src/assets/GitHub/github.svg
  packages/igx-templates/igx-ts/projects/empty/files/src/assets/indigo-design.svg
  packages/igx-templates/igx-ts/projects/empty/index.ts
Labels: angular, status: verified, version: 5.0.x

#619 New project accepts lower case theme name
  packages/cli/lib/commands/new.ts
  packages/ng-schematics/src/ng-new/index.ts
  spec/acceptance/new-spec.ts
Labels: angular, commands, schematics, status: verified, version: 5.0.x

#626 Prompt for template and theme if no name provided
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
Labels: angular, schematics, status: verified, version: 5.0.x

#632 Disable button on delete
  templates/angular/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__name__.component.html
Labels: angular, grid, status: verified, version: 4.3.x

#636 Create new project when no name but theme is provided
  lib/commands/new.ts
Labels: angular, commands, schematics, status: verified, version: 4.3.x

#637 fix(react): update react projects to use node-sass ^4.9.0
  templates/quickstart/react/package.json
  templates/react/es6/projects/empty/files/package.json
Labels: react-wrappers, status: verified, version: 4.3.x

#629 Update ignite-ui package to v19.2
  spec/unit/packageManager-spec.ts
  templates/angular/ig-ts/projects/empty/files/package.json
  templates/jquery/js/projects/empty/files/package.json
  templates/quickstart/angular/package.json
  templates/quickstart/jquery/index.html
  templates/quickstart/react/package.json
  templates/react/es6/projects/empty/files/package.json
Labels: angular-wrappers, jquery, react-wrappers, status: verified, version: 4.4.x

#645 fix(templates): update igniteui DV packages in angular templates
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/index.ts
  templates/angular/igx-ts/financial-chart/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/radial-gauge/default/index.ts
Labels: angular, status: verified, version: 4.3.x

#643 Update scenario templates
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.spec.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.spec.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.ts
Labels: angular, status: verified, version: 5.0.x

#631 Update wrapper projects to latest versions
  templates/angular/ig-ts/projects/empty/files/package.json
  templates/quickstart/angular/index.html
  templates/quickstart/angular/package.json
  templates/quickstart/angular/systemjs.config.js
  templates/quickstart/react/package.json
  templates/react/es6/projects/empty/files/package.json
Labels: angular-wrappers, react-wrappers, status: verified, version: 4.4.x

#646 chore: use latest rc
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified, version: 5.0.x

#649 merge 4.3.x to master
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/bullet-graph/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/bullet-graph/default/index.ts
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/category-chart/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/category-chart/default/index.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/custom-templates/fintech-grid/index.ts
  templates/angular/igx-ts/financial-chart/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/financial-chart/default/index.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/linear-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/linear-gauge/default/index.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.spec.ts
  templates/angular/igx-ts/radial-gauge/default/files/src/app/__path__/__name__.component.ts
  templates/angular/igx-ts/radial-gauge/default/index.ts
Labels: status: awaiting-test, version: 4.4.x

#650 vNext master merge 4.4.x
  packages/cli/lib/commands/new.ts
  packages/cli/lib/templates/AngularTemplate.ts
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/jquery/js/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/index.html
  packages/cli/templates/quickstart/angular/package.json
  packages/cli/templates/quickstart/angular/systemjs.config.js
  packages/cli/templates/quickstart/jquery/index.html
  packages/cli/templates/quickstart/react/package.json
  packages/cli/templates/react/es6/projects/empty/files/package.json
  packages/igx-templates/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__filePrefix__.component.html
  spec/unit/base-templates/AngularTemplate-spec.ts
  spec/unit/packageManager-spec.ts
Labels: version: 5.0.x

#648 fix(react): update webpack versions
  templates/quickstart/react/package.json
  templates/react/es6/projects/empty/files/package.json
Labels: react, status: verified, version: 4.4.x

#652 chore: remove webpack-cli
  templates/quickstart/react/package.json
  templates/react/es6/projects/empty/files/package.json
Labels: react-wrappers, status: verified, version: 4.4.x

#653 chore: revert webpack-dev-server bump from dependabot
  templates/react/es6/projects/empty/files/package.json
Labels: react-wrappers, status: verified, version: 4.3.x
