Repository IgniteUI/igniteui-cli, pull requests merged in 2021-05, with the labels that each got.

#832 feat(igx-templates): add igx-tree template
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/__filePrefix__.component.spec.ts
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/local-data.ts
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/services/data.service.ts
  packages/igx-templates/igx-ts/tree/default/index.ts
  packages/igx-templates/igx-ts/tree/index.ts
Labels: angular, templates

#834 Updating Angular to 12.0.0
  .travis.yml
  package.json
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/core/package.json
  packages/core/prompt/BasePromptSession.ts
  packages/igx-templates/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/karma.conf.js
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/src/polyfills.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/test.ts
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/select/select-in-form/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/services/data.service.ts
  packages/ng-schematics/package.json
  yarn.lock
Labels: angular, angular-wrappers, status: verified, version: 8.0.x

#842 Fix samples with font awesome icons
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  packages/igx-templates/igx-ts/input-group/default/files/src/app/__path__/__filePrefix__.component.html
Labels: angular, templates

#843 Update on events across all samples
  packages/igx-templates/igx-ts/chip/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/input-group/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/input-group/default/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.component.html
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.component.html
Labels: angular

#844 fix(template): Fix and upadate awesome template
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.ts
Labels: status: verified, version: 8.0.x

#841 chore: update igniteui-angular and igniteui-angular-wrappers
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: version: 8.0.x
