Repository IgniteUI/igniteui-cli, pull requests merged in 2021-09, with the labels that each got.

#876 Update dv component packages
  packages/igx-templates/igx-ts/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts/category-chart/default/index.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts/financial-chart/default/index.ts
  packages/igx-templates/igx-ts/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts/map/default/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/radial-gauge/default/index.ts
Labels: status: verified

#879 Bump ig-ts project and packages to angular 12.2
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/core/package.json
  packages/ng-schematics/package.json
Labels: version: 18.1, status: verified, angular-wrappers

#881 Update react igr-es6 project .gitignore file name
  packages/cli/templates/react/igr-es6/projects/_base/files/__dot__gitignore
Labels: status: verified, react, version: 8.1.x

#886 fix(ts-transform): respect quote type from editorconfig
  packages/core/typescript/TypeScriptFileUpdate.ts
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
Labels: angular, status: awaiting-test, status: verified, core

#887 feat(igx-templates): update to latest 12.2.0-alpha.3
  packages/igx-templates/igx-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  yarn.lock
Labels: angular, status: verified, version: 8.2.x
