Repository IgniteUI/igniteui-cli, pull requests merged in 2021-11, with the labels that each got.

#899 Avatar web component project with template
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/assets/avatar1.jpg
  packages/cli/templates/webcomponents/igc-ts/avatar/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/avatar/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
Labels: status: in-development, web-components

#900 Badge web component project with template
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/badge/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/badge/index.ts
Labels: status: in-development, web-components

#901 Calendar web component project with template
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
Labels: status: in-development, web-components

#902 Card web component project with template
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/card/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/card/index.ts
Labels: status: in-development, web-components

#903 Checkbox web component project with template
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/index.ts
Labels: status: in-development, web-components

#904 Form web component project with template
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/form/index.ts
Labels: status: in-development, web-components

#905 Icon button web component project with template
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/index.ts
Labels: status: verified, web-components

#906 Icon web component project with template
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/icon/index.ts
Labels: status: in-development, web-components

#907 Input web component project with template
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/input/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/input/index.ts
Labels: status: verified, web-components

#908 Link button web component project with template
  packages/cli/templates/webcomponents/igc-ts/link-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/link-button/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/link-button/index.ts
Labels: status: verified, web-components

#909 List web component project with template
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/assests/avatar1.jpg
  packages/cli/templates/webcomponents/igc-ts/list/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/list/index.ts
Labels: status: verified, web-components

#910 Navigation drawer web component project with template
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/nav-drawer/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/nav-drawer/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/nav-drawer/index.ts
Labels: status: verified, web-components

#911 Navbar web component project with template
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/index.ts
Labels: status: verified, web-components

#912 Radio group web component project with template
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/radio-group/index.ts
Labels: status: verified, web-components

#913 Radio web component project with template
  packages/cli/templates/webcomponents/igc-ts/radio/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/radio/index.ts
Labels: status: verified, web-components

#915 Switch web component project with template
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
  packages/cli/templates/webcomponents/igc-ts/switch/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/switch/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/switch/index.ts
Labels: status: verified, web-components

#914 Ripple web component project with template
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/ripple/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/index.ts
Labels: status: verified, web-components

#917 Improving icon and icon-button views
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
Labels: status: verified, templates, web-components

#916 Adding some simple description for the components.
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/link-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/default/files/src/app/__path__/__filePrefix__.ts
Labels: web-components

#920 Updating card width
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/radio/index.ts
Labels: web-components

#919 Increasing the width of calendar and navbar.
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
Labels: web-components

#921 Adding igc-ripple to navdrawer items
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/src/app.ts
Labels: web-components

#923 Adding webcomponents clause in getAvailableName()
  packages/core/util/Util.ts
Labels: web-components

#926 Updating webcomponents components imports
  packages/cli/templates/angular/ig-ts/projects/empty/files/tsconfig.json
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/link-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/link-button/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/link-button/index.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/index.html
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/src/app.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/tsconfig.json
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/switch/default/files/src/app/__path__/__filePrefix__.ts
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig-es5.app.json
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
  packages/ng-schematics/tsconfig.json
Labels: web-components

#932 Webcomponents project improvements
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/assests/avatar1.jpg
  packages/cli/templates/webcomponents/igc-ts/list/index.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/src/app.ts
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/default/files/src/app/__path__/__filePrefix__.ts
Labels: status: verified, web-components

#933 Improving Webcomponents templates
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
Labels: web-components

#934 Fixing ids for Navbar and Icon Button
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/index.ts
Labels: web-components

#935 Improving badge view
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.ts
Labels: status: verified, web-components

#936 Adding igcDataGrid view
  packages/cli/templates/webcomponents/igc-ts/grid/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/grid/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/grid/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/list/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/index.html
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
Labels: status: verified, web-components

#940 Adding Pie Chart view
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/pie-chart/default/files/src/app/__path__/sampleData.ts
  packages/cli/templates/webcomponents/igc-ts/pie-chart/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/pie-chart/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
  packages/core/templates/BaseTemplateManager.ts
Labels: status: verified, web-components

#942 fix: add igx-scrollbar class to body, #941
  packages/cli/migrations/update-3/index.ts
  packages/core/util/Schematics.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/index.html
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/index.html
  packages/ng-schematics/src/cli-config/index.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
Labels: status: verified, version: 9.0.x

#945 chore(*): properly limit typescript deps in packages
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  yarn.lock
Labels: status: verified, version: 9.0.x

#947 Adding Dock Manager view
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/dock-manager/index.ts
  packages/cli/templates/webcomponents/igc-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
Labels: web-components

#952 Hide igcDataGrid view
  packages/cli/templates/webcomponents/igc-ts/grid/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/grid/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/list/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/list/index.ts
Labels: status: verified, do-not-merge, web-components

#949 chore: update official 13.0.0
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: version: 9.0.x

#950 chore: update official web-components version
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
Labels: do-not-merge, version: 9.0.x

#958 chore: stick to typescript 4.3.x
  packages/cli/package.json
  packages/core/package.json
  packages/ng-schematics/package.json
Labels: version: 8.2.x
