Repository IgniteUI/igniteui-cli, pull requests merged in 2021-07, with the labels that each got.

#849 GH Actions - master
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  .travis.yml
  README.md
  package.json
  packages/core/packages/PackageManager.ts
  packages/ng-schematics/src/component/index_spec.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
  spec/acceptance/new-spec.ts
Labels: enhancement

#850 fix(angular-templates): fix some issue with strict templates in igx-ts, add strict to tsconfig
  packages/igx-templates/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/combo/default/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/combo/default/files/src/app/__path__/local-data.ts
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/data.ts
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/singer.ts
  packages/igx-templates/igx-ts/linear-gauge/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/list/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
Labels: angular, status: awaiting-test, templates, version: 8.0.x

#853 Angular project strict errors
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error/global-error-handler.service.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/login-bar/login-bar.component.html
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/login/login.component.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/models/user.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/profile/profile.component.html
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/auth-provider.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/base-oidc-provider.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/facebook-provider.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/google-provider.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/providers/microsoft-provider.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/redirect/redirect.component.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/register/register.component.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/authentication.service.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/external-auth.service.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/fake-backend.service.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/jwt-util.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/jwt.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/local-storage.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/services.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/services/user.service.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.component.ts
Labels: angular

#854 Fixing errors related to strict templates
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/services/data.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/data.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/localData.service.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/localData/financialData.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/assets/financialData.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/localData.service.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/tree-grid-grouping.pipe.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error/global-error-handler.service.ts
Labels: angular, status: verified, templates

#851 feat(igx-templates): add igx-accordion template
  packages/igx-templates/igx-ts/accordion/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/accordion/default/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/accordion/default/files/src/app/__path__/__filePrefix__.component.spec.ts
  packages/igx-templates/igx-ts/accordion/default/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/accordion/default/index.ts
  packages/igx-templates/igx-ts/accordion/index.ts
Labels: angular, status: verified, templates

#860 Update angular json
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
Labels: angular

#861 fix(fintech-grid): fix console warnings and errors
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.ts
Labels: angular, status: verified, templates, version: 8.0.x

#862 test(igx, accordion): add noop animation to test
  packages/igx-templates/igx-ts/accordion/default/files/src/app/__path__/__filePrefix__.component.spec.ts
Labels: angular, status: verified, version: 8.1.x

#863 fix(igx-ts): use explicit index in drop-down components for logic view
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/authentication/login-bar/login-bar.component.html
Labels: angular, templates, version: 8.1.x

#864 Update custom grids paging for 12.1
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/grid-custom/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/grid-custom/index.ts
  packages/igx-templates/igx-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/multi-column-headers/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/grid/multi-column-headers/index.ts
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-custom/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/igx-ts/tree-grid/tree-grid-custom/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/tree-grid/tree-grid-custom/index.ts
  spec/unit/PromptSession-spec.ts
Labels: angular, status: verified

#865 fix(igx-ts): remove deprecated properties from scenario templates
  .vscode/tasks.json.old
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/weather-forecast/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/grid/grid-custom/files/src/app/__path__/__filePrefix__.component.html
Labels: angular, status: verified, templates, version: 8.1.x
