Repository IgniteUI/igniteui-cli, pull requests merged in 2021-08, with the labels that each got.

#870 fix(schematics): resolve schema id deprecation warning
  packages/ng-schematics/src/component/schema.json
  packages/ng-schematics/src/ng-new/schema.json
  packages/ng-schematics/src/upgrade-packages/schema.json
Labels: angular, schematics

#871 chore(igx-ts): update igniteui-angular version to 12.1.0
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, version: 8.1.x

#873 Updating to angular 12.2
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, status: verified
