Repository IgniteUI/igniteui-cli, pull requests merged in 2022-06, with the labels that each got.

#1025 Update Angular projects with @angular@14.0.0-rc.2
  .github/workflows/nodejs.yml
  CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/tsconfig.json
  packages/cli/templates/quickstart/angular/package.json
  packages/core/package.json
  packages/core/packages/PackageManager.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/unit/packageManager-spec.ts
  yarn.lock
Labels: angular, angular-wrappers

#1036 Skip setting up child install tasks for new projects
  packages/core/packages/PackageManager.ts
  spec/unit/packageManager-spec.ts
Labels: :white_check_mark: status: verified, core, version: 10.0.x

#1037 Updating maps to version 14
  packages/core/packages/PackageManager.ts
  packages/igx-templates/igx-ts/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts/category-chart/default/index.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts/dock-manager/default/index.ts
  packages/igx-templates/igx-ts/financial-chart/default/index.ts
  packages/igx-templates/igx-ts/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts/map/default/index.ts
  packages/igx-templates/igx-ts/radial-gauge/default/index.ts
  spec/unit/packageManager-spec.ts
Labels: angular, :white_check_mark: status: verified

#1038 Updating to igniteui-webcomponents 3.2.0
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/app.ts
  packages/cli/templates/webcomponents/igc-ts/projects/side-nav/files/src/app/app.ts
Labels: :white_check_mark: status: verified, web-components

#1040 Add missing Web Components templates
  packages/cli/templates/webcomponents/igc-ts/dropdown/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/dropdown/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/dropdown/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/dropdown/index.ts
  packages/cli/templates/webcomponents/igc-ts/expansion-panel/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/expansion-panel/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/expansion-panel/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/expansion-panel/index.ts
  packages/cli/templates/webcomponents/igc-ts/tree/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/tree/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/tree/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/tree/index.ts
Labels: :white_check_mark: status: verified, web-components

#1041 Adding README file for Web Components projects
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/README.md
Labels: :white_check_mark: status: verified, web-components

#1044 Nalipiev/schematics fixes
  .vscode/launch.json
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  yarn.lock
Labels: schematics
