Repository IgniteUI/igniteui-cli, pull requests merged in 2022-05, with the labels that each got.

#1021 fix(fintech grid): fix slow grid #1020
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.scss
Labels: angular, :white_check_mark: status: verified, templates

#1023 Use @use rule to add default theming module
  packages/ng-schematics/src/cli-config/index_spec.ts
  packages/ng-schematics/src/utils/theme-import.ts
Labels: :white_check_mark: status: verified, schematics

#1024 refactor(theme-import): Place sass/scss imports before content.
  packages/ng-schematics/src/utils/theme-import.ts
Labels: angular, schematics

#1026 Update to igniteui-angular 13.2.0
  packages/cli/templates/quickstart/angular/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, :white_check_mark: status: verified, angular-wrappers
