Repository IgniteUI/igniteui-cli, pull requests merged in 2022-10, with the labels that each got.

#1064 Fix global styles
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/app.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/styles.css
Labels: enhancement, templates, web-components

#1060 Support for nested routing modules
  CHANGELOG.md
  packages/cli/lib/templates/IgniteUIForWebComponentsTemplate.ts
  packages/cli/templates/webcomponents/TypeScriptFileUpdate.ts
Labels: web-components, codegen

#1066 Adding width: 100% to router-outlet elements
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/app.ts
Labels: web-components

#1067 Updating igniteui-cli version for base projects
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :x: status: awaiting-test, codegen

#1068 Remove height: 100% from body
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/styles.css
Labels: web-components, codegen

#1069 Reverting body height
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/styles.css
Labels: web-components

#1070 Provide default options when adding a template
  packages/cli/lib/commands/add.ts
  packages/cli/templates/webcomponents/igc-ts/date-time-input/default/index.ts
  spec/unit/add-spec.ts
Labels: commands, :white_check_mark: status: verified, web-components

#1072 Adding styles to base project
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/styles.css
Labels: :x: status: awaiting-test, codegen

#1074 Set styles for img and video elements
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/styles.css
Labels: :x: status: awaiting-test, codegen

#1075 GitHub actions for Web Components
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/node.js.yml
Labels: web-components

#1076 Generate single quotes in paths
  packages/cli/templates/webcomponents/TypeScriptFileUpdate.ts
Labels: :white_check_mark: status: verified

#1078 Updating the yml file for the Web Components GitHub
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/node.js.yml
Labels: web-components
