Repository IgniteUI/igniteui-cli, pull requests merged in 2022-02, with the labels that each got.

#991 Adding tests for the web components
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/button/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/custom-templates/subscription-form/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/financial-chart/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/grid/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-editing/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/linear-gauge/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/radial-gauge/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/slider/default/files/src/app/__path__/__filePrefix__.component.test.ts
  packages/cli/templates/webcomponents/igc-ts/switch/default/files/src/app/__path__/__filePrefix__.component.test.ts
Labels: :white_check_mark: status: verified, web-components

#995 Use 'concurrently' in start script
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/web-dev-server.config.mjs
Labels: commands, :white_check_mark: status: verified, web-components

#982 Set correct quote_type to web components project
  packages/cli/templates/webcomponents/TypeScriptFileUpdate.ts
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/__dot__editorconfig
Labels: :white_check_mark: status: verified, web-components

#999 Using rollup as building tool in Web components projects
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/rollup.config.mjs
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/webpack.config.mjs
Labels: build, :x: status: awaiting-test, web-components

#1000 Pass in options for wc child process
  packages/cli/lib/commands/start.ts
  packages/core/util/Util.ts
Labels: :white_check_mark: status: verified, squash-merge, cli-package, web-components, version: 9.0.x

#1001 Web Components templates use LitElement
  packages/cli/templates/webcomponents/igc-ts/avatar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/badge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/calendar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/card/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/checkbox/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/custom-templates/subscription-form/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/financial-chart/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/grid/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-editing/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon-button/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/icon/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/input/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/linear-gauge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/list/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/navbar/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/ignite-ui-cli.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/app.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/home/home.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/not-found/not-found.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/tsconfig.json
  packages/cli/templates/webcomponents/igc-ts/projects/side-nav/files/src/app/app.ts
  packages/cli/templates/webcomponents/igc-ts/radial-gauge/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/radio-group/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/ripple/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/slider/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/switch/default/files/src/app/__path__/__filePrefix__.ts
Labels: :white_check_mark: status: verified, web-components, version: 9.0.x

#1006 Update the templates in accordance with the latest migrations for 13.1
  packages/igx-templates/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/autocomplete/autocomplete-extended/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/themes/_mixins.scss
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/themes/_mixins.scss
  packages/igx-templates/igx-ts/grid/grid-custom/index.ts
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-custom/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/home/home.component.scss
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/select/select-in-form/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/select/select-in-form/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/tree-grid/tree-grid-custom/index.ts
  packages/ng-schematics/src/utils/theme-import.ts
  spec/unit/PromptSession-spec.ts
Labels: :white_check_mark: status: verified, templates

#1010 fix(templates): Adding override modifier to the operate function
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.component.ts
Labels: angular, :white_check_mark: status: verified, templates
