Repository IgniteUI/igniteui-cli, pull requests merged in 2022-01, with the labels that each got.

#980 Fix Dock Manager lint errors
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/files/src/app/__path__/__filePrefix__.ts
Labels: :white_check_mark: status: verified, dock-manager, lint

#977 Fixing web-components navigation issues
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/src/app.ts
Labels: :white_check_mark: status: verified, web-components

#963 Updating path to bootstrap light theme
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/index.html
  packages/cli/templates/webcomponents/igc-ts/projects/empty/files/package.json
Labels: :x: status: awaiting-test, web-components

#986 Adding Slider web component
  packages/cli/templates/webcomponents/igc-ts/slider/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/slider/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/slider/index.ts
Labels: :white_check_mark: status: verified, web-components
