Repository IgniteUI/igniteui-cli, pull requests merged in 2022-03, with the labels that each got.

#1014 feat(wc): add new 2.1.0 components
  packages/cli/templates/webcomponents/igc-ts/chip/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/chip/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/chip/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/chip/index.ts
  packages/cli/templates/webcomponents/igc-ts/circular-progress/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/circular-progress/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/circular-progress/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/circular-progress/index.ts
  packages/cli/templates/webcomponents/igc-ts/linear-progress/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/linear-progress/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/linear-progress/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/linear-progress/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/rating/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/rating/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/rating/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/rating/index.ts
Labels: :white_check_mark: status: verified, templates, web-components

#1015 update with @angular@13.3
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/src/polyfills.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, angular-wrappers

#1013 Template for the pivot grid
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/__filePrefix__.component.spec.ts
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/data.ts
  packages/igx-templates/igx-ts/pivot-grid/default/index.ts
  packages/igx-templates/igx-ts/pivot-grid/index.ts
Labels: angular, :white_check_mark: status: resolved, templates
