Repository IgniteUI/igniteui-cli, pull requests merged in 2022-11, with the labels that each got.

#1081 chore: update ig-scrollbar according to 4.0.0
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/index.html
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/index.html
Labels: web-components, version: 10.1.x

#1084 chore: release 10.1.0
  CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: version: 10.1.x

#1085 Add lint file for web components
  packages/cli/templates/webcomponents/igc-ts/accordion/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-editing/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-summaries/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__eslintrc.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, web-components

#1089 chore: release 11.0.0
  CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, :white_check_mark: status: verified, version: 11.0.x
