Repository IgniteUI/igniteui-cli, pull requests merged in 2023-02, with the labels that each got.

#1097 Update packages in the web components project
  packages/cli/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: :white_check_mark: status: verified, web-components, version: 11.0.x

#1101 chore: remove igniteui-theming reference
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, :white_check_mark: status: verified, version: 11.0.x

#1102 fix(igx-ts): updating dependencies #1099
  .github/workflows/nodejs.yml
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/src/test.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, :white_check_mark: status: verified, ci: github-actions, version: 11.0.x
