Repository IgniteUI/igniteui-cli, pull requests merged in 2023-11, with the labels that each got.

#1169 CLI templates update for Angular 17
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/angular.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts/category-chart/default/index.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-tree-grid/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/financial-chart/default/index.ts
  packages/igx-templates/igx-ts/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts/map/default/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/radial-gauge/default/index.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, :white_check_mark: status: verified, templates

#1172 fix: update Utils.LowerDashed function
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/core/util/Util.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/acceptance/new-spec.ts
Labels: angular, version: 13.0.x

#1171 Update Utils.LowerDashed function
  packages/core/util/Util.ts
  spec/acceptance/new-spec.ts
Labels: angular, version: 12.0.x

#1175 chore: Update IgniteUI Angular Wrappers and Karma Jasmine HTML Reporter
  CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, :white_check_mark: status: verified, version: 13.0.x
