Repository IgniteUI/igniteui-cli, pull requests merged in 2023-12, with the labels that each got.

#1179 fix(igx): remove prod config for ng build
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular

#1178 Fix file name casing
  packages/cli/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app.test.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/index.css
  packages/cli/templates/react/igr-ts/projects/_base/files/src/main.tsx
  packages/cli/templates/react/igr-ts/projects/top-nav/files/src/app/app.css
  packages/cli/templates/react/igr-ts/projects/top-nav/files/src/app/app.tsx
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: :white_check_mark: status: verified, react

#1180 Migrate projectType in cli config
  .vscode/launch.json
  packages/cli/migrations/migration-collection.json
  packages/cli/migrations/schema.json
  packages/cli/migrations/update-13_1_0/index.spec.ts
  packages/cli/migrations/update-13_1_0/index.ts
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/migrations/interfaces/options.ts
  packages/ng-schematics/src/migrations/migration-collection.json
  packages/ng-schematics/src/migrations/schema.json
  packages/ng-schematics/src/migrations/update-1/index.spec.ts
  packages/ng-schematics/src/migrations/update-1/index.ts
Labels: :white_check_mark: status: verified, migration, schematics

#1184 In lowerDashed do not add dash before numbers - 12.0.x
  packages/cli/package.json
  packages/core/package.json
  packages/core/util/Util.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, :white_check_mark: status: verified, version: 12.0.x

#1183 In lowerDashed do not add dash before numbers - 13.0.x
  packages/core/util/Util.ts
Labels: angular, :white_check_mark: status: verified, version: 13.0.x

#1182 In lowerDashed do not add dash before numbers
  packages/core/util/Util.ts
Labels: angular, :white_check_mark: status: verified, version: 13.1.x

#1185 chore(angular): Add standalone=false variable to angular.json
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
Labels: angular, :white_check_mark: status: verified, templates, version: 13.0.x

#1186 chore(angular): Add standalone=false variable to angular.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/angular.json
Labels: angular, :white_check_mark: status: verified, templates, version: 13.1.x
