Repository IgniteUI/igniteui-cli, pull requests merged in 2023-04, with the labels that each got.

#1113 Changing the babel function call
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/rollup.config.mjs
Labels: :white_check_mark: status: verified, web-components, version: 11.1.x

#1114 Adding the $surface argument
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/ng-schematics/src/utils/theme-import.ts
  spec/unit/PromptSession-spec.ts
Labels: angular, :white_check_mark: status: resolved, version: 11.1.x

#1111 Separate config files for the WebComponents application and the tests
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__gitignore
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/tsconfig.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/tsconfig.test.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/web-test-runner.config.mjs
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, squash-merge, web-components, version: 11.1.x

#1115 Nalipiev/angular problems
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/ng-schematics/src/utils/theme-import.ts
  spec/unit/PromptSession-spec.ts
Labels: angular, :white_check_mark: status: verified, version: 11.0.x
