Repository IgniteUI/igniteui-cli, pull requests merged in 2023-05, with the labels that each got.

#1123 Suppress rollup and babel warnings
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/rollup.config.mjs
Labels: :white_check_mark: status: verified, web-components

#1120 update to 16
  packages/cli/lib/commands/upgrade.ts
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/angular.json
  packages/core/package.json
  packages/core/packages/PackageManager.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.scss
  packages/igx-templates/igx-ts/grid/grid-batch-editing/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__filePrefix__.component.ts
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/__filePrefix__.component.spec.ts
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.app.json
  packages/igx-templates/igx-ts/projects/_base/files/tsconfig.json
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/tree/default/files/src/app/__path__/services/data.service.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/cli-config/index_spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/packageManager-spec.ts
  spec/unit/upgrade-spec.ts
Labels: angular, version: 12.0.x

#1124 Removing the context method which caused the Angular project tests to fail
  packages/cli/templates/angular/ig-ts/projects/empty/files/src/test.ts
Labels: angular, :white_check_mark: status: verified, templates, version: 11.1.x

#1125 Adding NoopAnimationsModule and removing FormsModule.
  packages/igx-templates/igx-ts/pivot-grid/default/files/src/app/__path__/__filePrefix__.component.spec.ts
Labels: angular, :white_check_mark: status: verified, version: 12.0.x

#1128 Removing "on" prefix from event names.
  packages/igx-templates/igx-ts/hierarchical-grid/hierarchical-grid-batch-editing/files/src/app/__path__/__filePrefix__.component.html
Labels: :white_check_mark: status: verified, hierarchical-grid, templates

#1132 chore(igx): add explicitely igniteui-theming package
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular, version: 11.1.x
