Repository IgniteUI/igniteui-cli, pull requests merged in 2024-10, with the labels that each got.

#1318 Dependency updates iteration 3 - upgrade jasmine and schematics
  package.json
  packages/cli/migrations/update-13_1_0/index.spec.ts
  packages/cli/migrations/update-2/index.spec.ts
  packages/cli/migrations/update-3/index.spec.ts
  packages/cli/migrations/update-3_2/index.spec.ts
  packages/cli/migrations/update-4_2_3/index.spec.ts
  packages/cli/migrations/update-5_0_0/index.spec.ts
  packages/cli/migrations/update-5_0_3/index.spec.ts
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/cli/templates/quickstart/angular/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
  packages/core/package.json
  packages/core/prompt/InquirerWrapper.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/app-projects/index_spec.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
  packages/ng-schematics/src/component/index_spec.ts
  packages/ng-schematics/src/migrations/update-1/index.spec.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
  packages/ng-schematics/src/upgrade-packages/index.spec.ts
  spec/acceptance/add-spec.ts
  spec/acceptance/config-spec.ts
  spec/acceptance/generate-spec.ts
  spec/acceptance/help-spec.ts
  spec/acceptance/new-spec.ts
  spec/templates/angular-spec.ts
  spec/templates/jquery-spec.ts
  spec/templates/react-spec.ts
  spec/unit/BaseProjectLibrary-spec.ts
  spec/unit/GoogleAnalytic-spec.ts
  spec/unit/ProjectConfig-spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/TemplateManager-spec.ts
  spec/unit/Util-spec.ts
  spec/unit/add-spec.ts
  spec/unit/base-templates/AngularTemplate-spec.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
  spec/unit/cli-spec.ts
  spec/unit/config-spec.ts
  spec/unit/doc-spec.ts
  spec/unit/generate-spec.ts
  spec/unit/gridHelper-spec.ts
  spec/unit/list-spec.ts
  spec/unit/new-spec.ts
  spec/unit/packageManager-spec.ts
  spec/unit/quickstart-spec.ts
  spec/unit/start-spec.ts
  spec/unit/test-spec.ts
  spec/unit/ts-transform/TypeScriptUtils-spec.ts
  spec/unit/update-spec.ts
  spec/unit/upgrade-spec.ts
  tsconfig-pack.json
  yarn.lock
Labels: step by step, :white_check_mark: status: verified, improvement, cli-package

#1322 chore: update wc, react and dock-manager
  packages/cli/templates/react/igr-ts/bullet-graph/default/index.ts
  packages/cli/templates/react/igr-ts/category-chart/default/index.ts
  packages/cli/templates/react/igr-ts/doughnut-chart/default/index.ts
  packages/cli/templates/react/igr-ts/financial-chart/default/index.ts
  packages/cli/templates/react/igr-ts/grid/basic/index.ts
  packages/cli/templates/react/igr-ts/linear-gauge/default/index.ts
  packages/cli/templates/react/igr-ts/pie-chart/default/index.ts
  packages/cli/templates/react/igr-ts/radial-gauge/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/custom-templates/subscription-form/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, react, dock-manager, web-components, version: 14.0.x

#1321 chore: update wc, react and dock-manager
  packages/cli/templates/react/igr-ts/bullet-graph/default/index.ts
  packages/cli/templates/react/igr-ts/category-chart/default/index.ts
  packages/cli/templates/react/igr-ts/doughnut-chart/default/index.ts
  packages/cli/templates/react/igr-ts/financial-chart/default/index.ts
  packages/cli/templates/react/igr-ts/grid/basic/index.ts
  packages/cli/templates/react/igr-ts/linear-gauge/default/index.ts
  packages/cli/templates/react/igr-ts/pie-chart/default/index.ts
  packages/cli/templates/react/igr-ts/radial-gauge/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/custom-templates/subscription-form/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/dock-manager/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/form/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, react, dock-manager, web-components, version: 14.1.x

#1324 Add github pages templates
  packages/cli/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/cli/templates/react/igr-ts/projects/_base/files/src/main.tsx
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/core/package.json
  packages/core/update/Update.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/unit/update-spec.ts
Labels: angular-modules, :white_check_mark: status: verified, react, web-components, angular-standalone, verion: 14.2.x

#1326 Add fixes in react and wc templates
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github.io.yml
Labels: :boom: status: in-test, react, web-components

#1328 fix(ng): use "skipLibCheck": true for legacy igx projects
  packages/igx-templates/igx-ts-legacy/projects/_base/files/tsconfig.json
Labels: angular-modules, :white_check_mark: status: verified, verion: 14.2.x
