Repository IgniteUI/igniteui-cli, pull requests merged in 2024-04, with the labels that each got.

#1231 Remove obsolete classes in app.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app.tsx
Labels: :white_check_mark: status: verified, react

#1235 chore: update typescript; migrate to eslint
  .eslintrc.json
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .vscode/launch.json
  package.json
  packages/cli/package.json
  packages/cli/templates/react/ReactTypeScriptFileUpdate.ts
  packages/cli/templates/react/es6/projects/empty/files/__dot__eslintrc.json
  packages/cli/templates/react/es6/projects/empty/files/package.json
  packages/cli/templates/react/es6/projects/empty/index.ts
  packages/cli/templates/react/igr-es6/projects/_base/__dot__eslintrc.json
  packages/cli/templates/react/igr-es6/projects/_base/files/package.json
  packages/cli/templates/react/igr-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__eslintrc.json
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/TypeScriptFileUpdate.ts
  packages/core/.npmignore
  packages/core/package.json
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/typescript/TypeScriptUtils.ts
  packages/core/util/FileSystem.ts
  packages/core/util/Util.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/tslint.json
  spec/unit/ts-transform/TypeScriptFileUpdate-spec.ts
  spec/unit/ts-transform/TypeScriptUtils-spec.ts
  tslint.json
  yarn.lock
Labels: :white_check_mark: status: verified, squash-merge, templates, core, cli-package, ci: github-actions, lint, version: 13.1.x

#1234 Remove igniteui-react related dependencies
  packages/cli/templates/react/igr-ts/bullet-graph/default/index.ts
  packages/cli/templates/react/igr-ts/category-chart/default/index.ts
  packages/cli/templates/react/igr-ts/doughnut-chart/default/index.ts
  packages/cli/templates/react/igr-ts/financial-chart/default/index.ts
  packages/cli/templates/react/igr-ts/grid/basic/index.ts
  packages/cli/templates/react/igr-ts/linear-gauge/default/index.ts
  packages/cli/templates/react/igr-ts/pie-chart/default/index.ts
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
  packages/cli/templates/react/igr-ts/radial-gauge/default/index.ts
Labels: :white_check_mark: status: verified

#1242 fix(react): fix null type build error in main.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/main.tsx
Labels: :white_check_mark: status: verified, react

#1244 chore(ng standalone): add stylePreprocessorOptions for test
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
Labels: angular, version: 13.1.x, standalone

#1245 chore(*): update node in publish and all templates
  .github/workflows/npm-publish.yml
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/node.js.yml
Labels: version: 13.1.x

#1247 chore: update with igniteui-angular@17.2.0-beta.2
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts-legacy/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts-legacy/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts-legacy/list/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts-legacy/tooltip/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/custom-templates/crm-grid/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/list/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/tooltip/default/files/src/app/__path__/__filePrefix__.component.html
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, :white_check_mark: status: verified, standalone, version: 13.2.x

#1248 chore: release 13.2.0
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, standalone, version: 13.2.x
