Repository IgniteUI/igniteui-cli, pull requests merged in 2024-11, with the labels that each got.

#1331 resolve code scanning vulnerability alerts
  packages/core/packages/PackageManager.ts
  packages/core/util/Util.ts
  spec/acceptance/help-spec.ts
  spec/unit/new-spec.ts
  spec/unit/packageManager-spec.ts
Labels: :x: status: awaiting-test, dependencies

#1330 update node version in yml files and fix build logic for angular templates
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/github.io.yml
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/node.js.yml
Labels: angular-modules, :white_check_mark: status: verified, react, web-components, angular-standalone

#1335 remove and upgrade packages
  package.json
  packages/cli/package.json
  packages/cli/templates/jquery/js/projects/empty/files/package.json
  yarn.lock
Labels: :white_check_mark: status: verified, dependencies

#1336 replace coveralls with coveralls-next
  package.json
  packages/cli/package.json
  yarn.lock
Labels: :white_check_mark: status: verified, dependencies

#1337 Add pages deployment variable logic and fixes in github pages yaml files
  packages/cli/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/cli/templates/react/igr-ts/projects/_base/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/index.ts
  packages/core/package.json
  packages/core/update/Update.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/index.ts
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/unit/update-spec.ts
Labels: angular-modules, :white_check_mark: status: verified, react, web-components, angular-standalone

#1340 chore(templates): Updating the versions for Angular 19
  package.json
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/angular.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/core/package.json
  packages/core/packages/PackageManager.ts
  packages/igx-templates/constants.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/angular.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/ng-schematics/package.json
  spec/unit/packageManager-spec.ts
  tsconfig.json
  yarn.lock
Labels: :white_check_mark: status: verified, squash-merge, schematics, version: 14.3.x

#1343 release: 14.3.0-rc.0
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: version: 14.3.x

#1346 update github pages yaml files
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
Labels: angular-modules, :white_check_mark: status: verified, react, web-components, angular-standalone

#1348 Remove build step from angular github pages yaml files
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular-modules, :white_check_mark: status: resolved, angular-standalone

#1347 Fix pattern matching when upgrading packages
  packages/core/types/FileSystem.ts
  packages/core/update/Update.ts
  packages/ng-schematics/package.json
  packages/ng-schematics/src/upgrade-packages/index.ts
  packages/ng-schematics/src/utils/NgFileSystem.ts
  yarn.lock
Labels: :white_check_mark: status: verified, schematics, core

#1352 fix: adapt ngModules templates to 19 changes
  packages/igx-templates/igx-ts-legacy/projects/_base/files/angular.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/src/app/app.component.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/src/app/error-routing/error/uncaught-error.component.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/src/app/error-routing/not-found/not-found.component.ts
Labels: version: 14.3.x

#1351 remove deployment script flag and if condition in github pages workflow
  packages/cli/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/cli/templates/react/igr-ts/projects/_base/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/index.ts
  packages/core/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/index.ts
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/igx-ts/projects/_base_with_home/files/__dot__github/workflows/github-pages.yml
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular-modules, react, web-components, angular-standalone, version: 14.3.x
