Repository IgniteUI/igniteui-cli, pull requests merged in 2024-01, with the labels that each got.

#1188 Resolve proj lib by type
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/ng-new/index.ts
  packages/ng-schematics/src/ng-new/index_spec.ts
  packages/ng-schematics/src/ng-new/schema.json
  packages/ng-schematics/src/ng-new/schema.ts
  packages/ng-schematics/src/prompt/SchematicsPromptSession.ts
Labels: :white_check_mark: status: verified, schematics

#1196 Enable binding information from the Router state to the components' inputs
  packages/igx-templates/igx-ts-legacy/projects/_base/files/src/app/app-routing.module.ts
  packages/igx-templates/igx-ts-legacy/projects/_base_with_home/files/src/app/app-routing.module.ts
  packages/igx-templates/igx-ts-legacy/projects/empty/files/src/app/app-routing.module.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/_base_with_home/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.config.ts
Labels: angular, :white_check_mark: status: verified, version: 13.1.x

#1192 fix(igr-ts): add github workflows folder
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/cli/templates/react/igr-ts/projects/_base/index.ts
Labels: :white_check_mark: status: verified, react

#1187 React - open browser on app start
  packages/cli/templates/react/igr-ts/projects/_base/files/vite.config.ts
Labels: :white_check_mark: status: verified, react

#1194 Replace base app name with placeholders
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
Labels: :white_check_mark: status: verified, schematics, version: 13.1.x

#1189 Bump the version of WebComponents
  packages/cli/templates/webcomponents/igc-ts/button-group/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/button-group/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/button-group/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/button-group/index.ts
  packages/cli/templates/webcomponents/igc-ts/grid/grid-editing/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
  packages/cli/templates/webcomponents/igc-ts/text-area/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/text-area/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/text-area/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/text-area/index.ts
Labels: :white_check_mark: status: verified, templates, web-components

#1195 feat: add style-utils file to base project
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/style-utils.ts
Labels: :white_check_mark: status: verified, react

#1197 refactor(projects-routes): update indentation
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.routes.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/error-routing/error/uncaught-error.component.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.routes.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.config.ts
Labels: templates
