Repository IgniteUI/igniteui-cli, pull requests merged in 2024-07, with the labels that each got.

#1271 Bump igniteui-webcomponent's version
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components

#1268 Bump igniteui-webcomponent's version in the templates
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 13.3.x

#1267 chore(webc): Bump the igniteui-webcomponent's version in the templates.
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 14.0.x

#1275 chore(WebComponents): igniteui-webcomponents version bump, adding banner, divider and date picker templates - 13.2.x
  packages/cli/templates/webcomponents/igc-ts/banner/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/banner/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/banner/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/banner/index.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/index.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/divider/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 13.2.x

#1274 chore(WebComponents): igniteui-webcomponents version bump, adding banner, divider and date picker templates - 13.3.x
  packages/cli/templates/webcomponents/igc-ts/banner/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/banner/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/banner/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/banner/index.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/index.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/divider/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :x: status: awaiting-test, templates, web-components, version: 13.3.x

#1273 chore(WebComponents): igniteui-webcomponents version bump, adding banner, divider and date picker templates
  packages/cli/templates/webcomponents/igc-ts/banner/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/banner/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/banner/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/banner/index.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/date-picker/index.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/files/src/app/__path__/__filePrefix__.test.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/files/src/app/__path__/__filePrefix__.ts
  packages/cli/templates/webcomponents/igc-ts/divider/default/index.ts
  packages/cli/templates/webcomponents/igc-ts/divider/index.ts
  packages/cli/templates/webcomponents/igc-ts/groups.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 14.0.x

#1270 Adding schema to template dependency 13.2.x
  packages/cli/package.json
  packages/core/package.json
  packages/core/types/TemplateDependency.ts
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, core, version: 13.2.x

#1279 Adding schema to template dependency 13.4.x
  packages/core/types/TemplateDependency.ts
  packages/core/typescript/TypeScriptFileUpdate.ts
Labels: angular, core, 13.4.x

#1269 Adding schema to template dependency
  packages/core/types/TemplateDependency.ts
  packages/core/typescript/TypeScriptFileUpdate.ts
Labels: angular, core, 13.4.x

#1280 chore(webc): Add @types/mocha to the WebComponents templates - master
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 14.0.x

#1282 chore(webc): Add @types/mocha to the WebComponents templates - 13.2.x
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 13.2.x

#1281 chore(webc): Add @types/mocha to the WebComponents templates - 13.3.x
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 13.3.x

#1283 chore(webc): Add @types/mocha to the WebComponents templates - 13.4.x
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, 13.4.x

#1276 chore(ng): update igniteui-angular@18.1.0; dv@18.0.0; remove force
  packages/cli/lib/commands/upgrade.ts
  packages/core/packages/PackageManager.ts
  packages/igx-templates/igx-ts-legacy/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts-legacy/category-chart/default/index.ts
  packages/igx-templates/igx-ts-legacy/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts-legacy/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts-legacy/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts-legacy/financial-chart/default/index.ts
  packages/igx-templates/igx-ts-legacy/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts-legacy/map/default/index.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts-legacy/radial-gauge/default/index.ts
  packages/igx-templates/igx-ts/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts/category-chart/default/index.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts/financial-chart/default/index.ts
  packages/igx-templates/igx-ts/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts/map/default/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/radial-gauge/default/index.ts
  spec/unit/packageManager-spec.ts
  spec/unit/upgrade-spec.ts
Labels: :white_check_mark: status: verified

#1284 Add new lines in base app-routes file
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app-routes.tsx
Labels: :x: status: awaiting-test

#1251 Refactor the ReactTypeScriptFileUpdate
  packages/cli/lib/templates/IgniteUIForReactTemplate.ts
  packages/cli/package.json
  packages/cli/templates/react/ReactTypeScriptFileUpdate.ts
  packages/cli/templates/react/types/ReactRouteEntry.ts
  packages/cli/templates/react/types/ReactRouteLike.ts
  packages/cli/templates/react/types/ReactRouteTarget.ts
  packages/cli/templates/react/types/index.ts
  packages/core/package.json
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/util/GlobalConstants.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/unit/ts-transform/ReactTypeScriptFileUpdate-spec.ts
Labels: react, templates, core, cli-package

#1250 Add a WebComponentsTypeScriptFileUpdate
  packages/cli/lib/templates/IgniteUIForReactTemplate.ts
  packages/cli/lib/templates/IgniteUIForWebComponentsTemplate.ts
  packages/cli/package.json
  packages/cli/templates/react/ReactTypeScriptFileUpdate.ts
  packages/cli/templates/react/types/ReactRouteEntry.ts
  packages/cli/templates/react/types/ReactRouteLike.ts
  packages/cli/templates/react/types/ReactRouteTarget.ts
  packages/cli/templates/react/types/index.ts
  packages/cli/templates/webcomponents/TypeScriptFileUpdate.ts
  packages/cli/templates/webcomponents/WebComponentsTypeScriptFileUpdate.ts
  packages/core/package.json
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/util/GlobalConstants.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  spec/unit/ts-transform/ReactTypeScriptFileUpdate-spec.ts
  spec/unit/ts-transform/WebComponentsTypeScriptFileUpdate-spec.ts
Labels: templates, core, cli-package, web-components

#1287 chore(*): update to ng 18.1
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
Labels: angular, :white_check_mark: status: verified, 13.4.x

#1288 Turn off no-explicit-any rule for wc
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__eslintrc.json
Labels: :white_check_mark: status: verified

#1289 Added overriding app.test.tsx for default top navigation template
  packages/cli/templates/react/igr-ts/projects/top-nav/files/src/app/app.test.tsx
Labels: :white_check_mark: status: verified
