Repository IgniteUI/igniteui-cli, pull requests merged in 2024-06, with the labels that each got.

#1238 Implement an AST transformer
  packages/core/types/KeyValuePair.ts
  packages/core/types/index.ts
  packages/core/types/types-typescript.ts
  packages/core/typescript/TypeScriptASTTransformer.ts
  packages/core/typescript/TypeScriptFormattingService.ts
  packages/core/typescript/TypeScriptUtils.ts
  packages/core/util/GlobalConstants.ts
  packages/core/util/index.ts
  spec/unit/TypeScript-AST-Transformer-spec.ts
  spec/unit/ts-transform/TypeScriptUtils-spec.ts
Labels: :white_check_mark: status: verified, core, ast

#1259 Chore(webc): Bump the template versions.
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: resolved, dependencies, templates, web-components

#1261 Valadzhov/bump web dev server in webc templates 13.3.x
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, templates, web-components, version: 13.3.x

#1260 chore(webc): Bump the version of @web/dev-server in the WebC templates
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: resolved, templates, web-components
