Repository IgniteUI/igniteui-cli, pull requests merged in 2024-02, with the labels that each got.

#1202 chore: update wc refs
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base_with_home/files/package.json
Labels: :white_check_mark: status: verified, web-components, version: 13.1.x

#1200 Bump proj deps to 17.1
  packages/cli/package.json
  packages/cli/templates/angular/ig-ts/projects/empty/files/package.json
  packages/core/package.json
  packages/igx-templates/constants.ts
  packages/igx-templates/igx-ts-legacy/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts-legacy/category-chart/default/index.ts
  packages/igx-templates/igx-ts-legacy/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts-legacy/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts-legacy/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts-legacy/financial-chart/default/index.ts
  packages/igx-templates/igx-ts-legacy/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts-legacy/map/default/index.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts-legacy/radial-gauge/default/index.ts
  packages/igx-templates/igx-ts/bullet-graph/default/index.ts
  packages/igx-templates/igx-ts/category-chart/default/index.ts
  packages/igx-templates/igx-ts/custom-templates/awesome-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/crm-grid/index.ts
  packages/igx-templates/igx-ts/custom-templates/fintech-grid/index.ts
  packages/igx-templates/igx-ts/financial-chart/default/index.ts
  packages/igx-templates/igx-ts/linear-gauge/default/index.ts
  packages/igx-templates/igx-ts/map/default/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/radial-gauge/default/index.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, :white_check_mark: status: verified, version: 13.1.x

#1205 fix(React): Add styles to support dark themes #29410
  packages/cli/templates/react/igr-ts/projects/_base/files/index.html
  packages/cli/templates/react/igr-ts/projects/_base/files/src/index.css
  packages/cli/templates/react/igr-ts/projects/_base/files/src/main.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/styles.css
Labels: :white_check_mark: status: verified, react

#1207 Lazy load routes
  packages/cli/package.json
  packages/core/package.json
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: core

#1209 Provide http client
  packages/igx-templates/igx-ts-legacy/projects/_base/files/ignite-ui-cli.json
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.config.ts
Labels: templates

#1211 feat(ng-add): add setup config provideAnimations
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/typescript/TypeScriptUtils.ts
  packages/ng-schematics/src/cli-config/index.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
Labels: :white_check_mark: status: verified, schematics

#1206 chore: release 13.1.6
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular, version: 13.1.x

#1213 fix(WebComponents): Removing an unnecessary ` from package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
Labels: templates, web-components

#1214 chore(ng): update budget
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
Labels: angular, version: 13.1.x

#1215 Remove redundant empty line in routing file
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.routes.ts
  packages/igx-templates/igx-ts/projects/_base_with_home/files/src/app/app.routes.ts
  packages/igx-templates/igx-ts/projects/empty/files/src/app/app.routes.ts
Labels: templates, igx-ts
