Repository IgniteUI/igniteui-cli, pull requests merged in 2024-08, with the labels that each got.

#1300 Adding 'ng lint' command in Angular Standalone templates 13.2
  packages/igx-templates/igx-ts/projects/_base/files/package.json
Labels: angular, :white_check_mark: status: verified, standalone, version: 13.2.x

#1301 Adding 'ng lint' command in Angular Standalone templates 13.4
  packages/igx-templates/igx-ts/projects/_base/files/package.json
Labels: angular, :white_check_mark: status: verified, standalone, 13.4.x

#1302 Providing class name to routing if we don't want to use the first cla…
  packages/core/typescript/TypeScriptFileUpdate.ts
Labels: :x: status: awaiting-test, codegen, 13.4.x

#1297 Providing class name to routing if we don't want to use the first class in file
  packages/core/typescript/TypeScriptFileUpdate.ts
Labels: :x: status: awaiting-test, version: 13.2.x, codegen-angular-schematics

#1299 Adding 'ng lint' command in Angular Standalone templates
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
Labels: angular, :white_check_mark: status: verified, standalone, version: 14.0.x

#1303 Updating lint versions and adding lint configuration in angular.json …
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
Labels: angular, :white_check_mark: status: verified, standalone, version: 13.2.x

#1304 Updating lint versions and adding lint configuration in angular.json …
  packages/igx-templates/igx-ts/projects/_base/files/angular.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
Labels: angular, :white_check_mark: status: verified, standalone, 13.4.x

#1293 Angular - apply mutations on configureTestingModule metadata
  packages/cli/package.json
  packages/cli/templates/react/ReactTypeScriptFileUpdate.ts
  packages/cli/templates/webcomponents/WebComponentsTypeScriptFileUpdate.ts
  packages/core/package.json
  packages/core/typescript/TransformerFactories.ts
  packages/core/typescript/TypeScriptAstTransformer.ts
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/typescript/VisitorConditions.ts
  packages/core/typescript/index.ts
  packages/core/util/GlobalConstants.ts
  packages/igx-templates/AngularTypeScriptFileUpdate.ts
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.component.spec.ts
  packages/igx-templates/igx-ts/projects/_base_with_home/files/src/app/home/home.component.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.component.spec.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.component.spec.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/cli-config/index.ts
  spec/unit/TypeScript-AST-Transformer-spec.ts
  spec/unit/ts-transform/AngularTypeScriptFileUpdate-spec.ts
Labels: angular, templates, core, codegen-angular-schematics

#1306 Clean up templates of redundant imports & use placeholders
  packages/igx-templates/igx-ts/projects/_base/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.config.ts
Labels: :x: status: awaiting-test, igx-ts

#1307 Use placeholders in side-nav projects
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/src/app/app.config.ts
  packages/igx-templates/igx-ts/projects/side-nav/files/src/app/app.config.ts
Labels: :white_check_mark: status: verified, igx-ts

#1308 Move creation of nodes from ast transformer to a new node factory class
  packages/cli/templates/react/ReactTypeScriptFileUpdate.ts
  packages/cli/templates/webcomponents/WebComponentsTypeScriptFileUpdate.ts
  packages/core/typescript/TypeScriptAstTransformer.ts
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/core/typescript/TypeScriptNodeFactory.ts
  packages/core/typescript/index.ts
  packages/igx-templates/AngularTypeScriptFileUpdate.ts
  spec/unit/TypeScript-AST-Transformer-spec.ts
  spec/unit/TypeScriptNodeFactory-spec.ts
Labels: core
