Repository IgniteUI/igniteui-cli, pull requests merged in 2024-09, with the labels that each got.

#1313 chore(react): increase build ram
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
Labels: :white_check_mark: status: verified, react, version: 13.4.x

#1314 chore(react): increase build ram
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
Labels: :white_check_mark: status: verified, react, version: 14.0.x

#1315 chore(react): increase build ram
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
Labels: :white_check_mark: status: verified, react, version: 14.1.x

#1311 Dependency updates iteration 1
  .github/workflows/nodejs.yml
  package.json
  packages/cli/bin/execute.js
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/cli.ts
  packages/cli/lib/commands/add.ts
  packages/cli/lib/commands/build.ts
  packages/cli/lib/commands/config.ts
  packages/cli/lib/commands/doc.ts
  packages/cli/lib/commands/generate.ts
  packages/cli/lib/commands/index.ts
  packages/cli/lib/commands/list.ts
  packages/cli/lib/commands/new.ts
  packages/cli/lib/commands/quickstart.ts
  packages/cli/lib/commands/start.ts
  packages/cli/lib/commands/test.ts
  packages/cli/lib/commands/types.ts
  packages/cli/lib/commands/upgrade.ts
  packages/cli/lib/templates/IgniteUIForReactTemplate.ts
  packages/cli/lib/templates/ReactTemplate.ts
  packages/cli/lib/templates/jQueryTemplate.ts
  packages/cli/package.json
  packages/cli/templates/jquery/js/projects/empty/index.ts
  packages/core/util/Util.ts
  spec/acceptance/add-spec.ts
  spec/acceptance/help-spec.ts
  spec/acceptance/new-spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/add-spec.ts
  spec/unit/cli-spec.ts
  spec/unit/config-spec.ts
  spec/unit/doc-spec.ts
  spec/unit/generate-spec.ts
  spec/unit/list-spec.ts
  spec/unit/new-spec.ts
  spec/unit/quickstart-spec.ts
  spec/unit/start-spec.ts
  spec/unit/test-spec.ts
  spec/unit/upgrade-spec.ts
  yarn.lock
Labels: commands, :white_check_mark: status: verified, cli-package

#1316 Dependency updates iteration 2 - migrate inquirer
  package.json
  packages/cli/lib/PromptSession.ts
  packages/cli/lib/cli.ts
  packages/cli/package.json
  packages/core/package.json
  packages/core/prompt/BasePromptSession.ts
  packages/core/prompt/InquirerWrapper.ts
  packages/core/prompt/index.ts
  packages/igx-templates/igx-ts-legacy/index.ts
  packages/igx-templates/igx-ts/index.ts
  packages/igx-templates/index.ts
  packages/ng-schematics/src/ng-new/index.ts
  spec/acceptance/config-spec.ts
  spec/acceptance/generate-spec.ts
  spec/acceptance/new-spec.ts
  spec/unit/GoogleAnalytic-spec.ts
  spec/unit/ProjectConfig-spec.ts
  spec/unit/PromptSession-spec.ts
  spec/unit/generate-spec.ts
  spec/unit/packageManager-spec.ts
  spec/unit/quickstart-spec.ts
  spec/unit/start-spec.ts
  spec/unit/ts-transform/TypeScriptUtils-spec.ts
  tsconfig.json
  yarn.lock
Labels: step by step, :white_check_mark: status: verified, improvement, cli-package

#1320 Provide default package name in config for igx-ts projects
  packages/igx-templates/igx-ts/projects/_base/index.ts
Labels: angular, :white_check_mark: status: verified, templates, igx-ts
