Repository IgniteUI/igniteui-cli, pull requests merged in 2024-03, with the labels that each got.

#1216 Updating igx-ts-legacy base template
  packages/igx-templates/igx-ts-legacy/projects/_base/files/src/app/app-routing.module.ts
Labels: angular, codegen

#1221 Update react base template
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__editorconfig
  packages/cli/templates/react/igr-ts/projects/_base/files/ignite-ui-cli.json
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app.test.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/style-utils.ts
  packages/cli/templates/react/igr-ts/projects/_base/files/src/main.tsx
  packages/cli/templates/react/igr-ts/projects/_base/files/src/vite-env.d.ts
  packages/cli/templates/react/igr-ts/projects/_base/files/tsconfig.json
  packages/cli/templates/react/igr-ts/projects/_base/files/vite.config.ts
Labels: react, version: 13.1.x

#1225 fix: add elements internal polyfill to base template
  packages/cli/templates/react/igr-ts/projects/_base/files/package.json
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/app.test.tsx
Labels: :white_check_mark: status: verified

#1223 indentation across igr-ts projects
  packages/cli/templates/react/igr-ts/bullet-graph/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/bullet-graph/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/bullet-graph/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/category-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/category-chart/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/category-chart/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/category-chart/index.ts
  packages/cli/templates/react/igr-ts/doughnut-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/doughnut-chart/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/doughnut-chart/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/financial-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/financial-chart/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/financial-chart/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/financial-chart/index.ts
  packages/cli/templates/react/igr-ts/grid/basic/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/grid/basic/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/grid/basic/files/src/app/__path__/data.tsx
  packages/cli/templates/react/igr-ts/grid/basic/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/linear-gauge/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/linear-gauge/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/linear-gauge/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/pie-chart/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/projects/_base/files/src/main.tsx
  packages/cli/templates/react/igr-ts/projects/_base_with_home/files/src/app/home/home.tsx
  packages/cli/templates/react/igr-ts/projects/top-nav/files/src/app/app.tsx
  packages/cli/templates/react/igr-ts/projects/top-nav/files/src/components/navigation-header/index.tsx
  packages/cli/templates/react/igr-ts/radial-gauge/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/radial-gauge/default/files/src/app/__path__/__filePrefix__.tsx
  packages/cli/templates/react/igr-ts/radial-gauge/default/files/src/app/__path__/style.module.css
  packages/cli/templates/react/igr-ts/radial-gauge/index.ts
Labels: :white_check_mark: status: verified, react

#1224 fix(Imports): Fixed class import path in .test.ts
  packages/cli/templates/react/igr-ts/bullet-graph/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/category-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/doughnut-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/financial-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/grid/basic/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/linear-gauge/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/pie-chart/default/files/src/app/__path__/__filePrefix__.test.tsx
  packages/cli/templates/react/igr-ts/radial-gauge/default/files/src/app/__path__/__filePrefix__.test.tsx
Labels: :white_check_mark: status: verified, react

#1222 fix(Lint): Fixed styles typing in style-utils
  packages/cli/templates/react/igr-ts/projects/_base/files/src/app/style-utils.ts
Labels: react

#1198 feat(cli): upgrade packages for React and WC
  .vscode/launch.json
  packages/cli/lib/commands/upgrade.ts
  packages/cli/lib/templates/IgniteUIForWebComponentsTemplate.ts
  packages/cli/package.json
  packages/cli/templates/react/igr-ts/projects/_base/index.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/index.ts
  packages/cli/templates/webcomponents/package-resolve.ts
  packages/core/index.ts
  packages/core/package.json
  packages/core/update/Update.ts
  packages/core/update/index.ts
  packages/core/update/package-resolve.ts
  packages/igx-templates/IgniteUIForAngularTemplate.ts
  packages/igx-templates/Update.spec.ts
  packages/igx-templates/Update.ts
  packages/igx-templates/igx-ts-legacy/dock-manager/default/index.ts
  packages/igx-templates/igx-ts-legacy/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts-legacy/projects/_base/index.ts
  packages/igx-templates/igx-ts/dock-manager/default/index.ts
  packages/igx-templates/igx-ts/projects/_base/files/__dot__github/workflows/node.js.yml
  packages/igx-templates/igx-ts/projects/_base/index.ts
  packages/igx-templates/index.ts
  packages/igx-templates/package-resolve.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
  packages/ng-schematics/src/cli-config/index.ts
  packages/ng-schematics/src/cli-config/index_spec.ts
  packages/ng-schematics/src/utils/theme-import.ts
  spec/acceptance/add-spec.ts
  spec/jasmine-runner.ts
  spec/unit/base-templates/IgniteUIForAngularTemplate-spec.ts
  spec/unit/packageResolve-spec.ts
  spec/unit/update-spec.ts
Labels: :white_check_mark: status: verified, squash-merge

#1227 Generate default route redirect in React
  CHANGELOG.md
  packages/cli/lib/templates/IgniteUIForReactTemplate.ts
  packages/cli/package.json
  packages/cli/templates/react/ReactTypeScriptFileUpdate.ts
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: :white_check_mark: status: verified

#1228 Generate default redirect routes for NG
  packages/cli/package.json
  packages/core/package.json
  packages/core/typescript/TypeScriptFileUpdate.ts
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: :white_check_mark: status: verified

#1230 feat(react): turn off no-explicit-any in eslint
  packages/cli/templates/react/igr-ts/projects/_base/files/__dot__eslintrc.cjs
Labels: react
