Repository IgniteUI/igniteui-cli, pull requests merged in 2025-04, with the labels that each got.

#1387 fix(WC): update themes import paths to licensed version
  packages/core/update/Update.ts
  spec/unit/update-spec.ts
Labels: :white_check_mark: status: verified, web-components

#1385 fix: add missing static css files for WC
  packages/cli/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/__dot__github/workflows/github-pages.yml
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/package.json
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/src/app/models/css.d.ts
  packages/cli/templates/webcomponents/igc-ts/projects/_base/files/vite.config.ts
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: bug, :white_check_mark: status: resolved, web-components

#1392 chore(igx-templates): bump to ng 19.2.0
  packages/igx-templates/igx-ts-legacy/projects/_base/files/package.json
  packages/igx-templates/igx-ts-legacy/projects/side-nav-auth/files/package.json
  packages/igx-templates/igx-ts/projects/_base/files/package.json
  packages/igx-templates/igx-ts/projects/side-nav-auth/files/package.json
Labels: angular-modules, :white_check_mark: status: verified, templates, igx-ts-legacy, angular-standalone, version: 14.3.x

#1393 chore: Release 14.4.0
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/igx-templates/package.json
  packages/ng-schematics/package.json
Labels: angular-modules, angular-standalone, 14.4.x
